[2015-09-30 13:10] Magissia opened #2 "Launch private activities"
Hello, it would be useful if the application. could use SU to launch private activities

[2016-08-21 22:42] rgocal opened #4 "Add Theme Pack Support"
Would you be able to switch out the drawable chooser to select an installed icon pack and than choose a desired  icon instead.

[2017-05-29 11:58] Heiko-L opened #6 "Crash creating a shortcut"
Creating a shortcut to org.cyanogenmod.cmparts.profiles.ProfilesSettings instantly crashes the app.
LineageOS 14.1

[2017-10-24 19:57] Taeclimax commented on #6
I problem

[2017-11-28 21:48] mavoga opened #7 "Crashes with Android 8.0"
OnePlus3, stock OxygenOS v5.0.0 (Android 8.0)
Activity Launcher v1.6.1 (from F-Droid)

Logcat:
`11-28 22:33:38.851 D/SystemServicesProxy(2198): getRecentTasks: de.szalkowski.activitylauncher, -1, false, 0
11-28 22:33:39.023 D/SystemServicesProxy(2198): getRecentTasks: de.szalkowski.activitylauncher, -1, false, 0
11-28 22:33:40.054 D/TaskView(2198): onClick to 1483, ComponentInfo{de.szalkowski.acti

[2018-05-21 12:55] sdex commented on #7
there is a better alternative
https://play.google.com/store/apps/details?id=com.sdex.activityrunner

[2018-05-21 20:17] mavoga commented on #7
Nice one, but it's not FOSS AFAICS.

Il 21 maggio 2018 14:55:13 CEST, Yuriy Mysochenko <notifications@github.com> ha scritto:

--
Inviato dal mio OnePlus 3 con K-9 Mail.

[2018-06-16 18:20] lolbinarycat opened #9 "Crashes on Android P"

[2018-07-14 13:33] kaeptmblaubaer1000 opened #10 "Tagging releases"
If you release a new version, please create Git tags.
Please also tag older versions.
This all will help i.e. F-Droid to detect new releases and simplify looking at the code of any specific older version.

[2018-07-15 05:04] butzist commented on #10
Good idea

[2018-07-15 05:04] #10 closed

[2018-07-15 05:04] #9 closed

[2018-07-15 05:04] #7 closed

[2018-07-15 05:04] #6 closed

[2018-08-15 13:06] JonnyTech opened #11 "Search activities"
Is there an option to search for specific activities without having to manually scroll through the list looking? If not, can I request it as an enhancement / feature request please.

[2018-08-19 20:02] omideleayo opened #12 "FAQ creation"
If I may, would love to add a FAQ document for this project.
If you agree it needs one, I would go ahead.
If you disagree, it's all fine.

[2018-08-21 05:25] butzist commented on #11
Agree, that this would be very useful indeed. Will happily accept a pull request if someone implements this.

[2018-08-21 05:53] omideleayo commented on #12
Cool, would do that soon.

[2018-09-17 18:23] mueller-ma opened #13 "Improve F-Droid listing"
I've seen this app on F-Droid, but it lacks screenshots, changelog and a translatable description there. It's pretty easy for you to add these information. Please have a look at [this example](https://github.com/Freeyourgadget/Gadgetbridge/tree/master/fastlane/metadata/android) or at the [F-Droid docs](https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/#in-the-apps-source-

[2019-01-30 21:13] jadedgnome commented on #2
Can't launch service mode activities even though my device is rooted. launching with su would have been great.

[2019-02-09 15:44] J3G3 opened #16 "Crash on FireOS"
Fire HD 8 (7th gen) w/ Fire OS 5.3.6.4
Occurs ~6% loading  when selecting "all activities"

[2019-05-09 18:46] Shadowspear123 commented on #12
Hi, so far the app looks great, however, I can't find the shortcuts after they have been created. Where does the application place the shortcuts after it is prompted to create one?

[2019-05-10 21:04] Shadowspear123 opened #17 "Can't find shortcuts after they are created"
Hi, I can't figure out how to launch the shortcuts. Where are they located. After I long press to create a shortcut, it initializes it but then the shortcut is nowhere to be found.

[2019-05-15 18:29] #17 closed

[2019-05-30 20:29] chrisbarth01 opened #18 "App crashes when I want to create shortcut - Simple Bitcoin Widget version 6.8.3"
#### Expected behavior
I expected a shortcut to the widget app I selected to be created when I clicked on 'create shortcut'

---

#### Actual behavior
When I try to create a shortcut to a widget app, the app crashes.

---

#### How to reproduce
- Download, install and launch the latest version of the app
- Please note that the crash occurs when I'm creating the shortcut to a widget app. Therefore,

[2019-09-12 08:06] leela52452 opened #20 "how & where to translate app ?"
there is commit message about translations.
can you please update readme or contributing page about translations.

[2019-09-16 07:57] butzist commented on #20
What are you missing? A link to the crowdin translation project?

[2019-09-16 08:00] #12 closed

[2019-09-16 08:01] leela52452 commented on #20
yes, if you are on crowdin.

[2019-09-16 08:05] butzist commented on #20
Done

[2019-09-16 08:05] #20 closed

[2019-10-30 14:04] butzist commented on #18
Hey @chrisbarth01,

seems like you are trying to create a shortcut for a package instead of a particular activity, right?

In this line we are probably getting a null pointer:
https://github.com/butzist/ActivityLauncher/blob/master/ActivityLauncherApp/src/main/java/org/thirdparty/LauncherIconCreator.java#L60

Maybe the package does not define a default activity?

[2019-10-30 15:24] #18 closed

[2019-10-31 13:53] respok opened #22 "messenger RCS flags"
I'm trying to set the OTP Pattern, but it does not want to Apply the only selection available when I come back to check the setting it doesn't get shown as applied.?

![Screenshot_20191031-093742](https://user-images.githubusercontent.com/23049332/67952304-7fa19080-fbc3-11e9-8750-c795a0a82c5e.png)

Sony Experia F8131
Google Messages beta
Android 8.0.0

[2019-11-01 00:01] timjobutler commented on #22
I have the same problem. The selection for the _ACS URL_ field is retained but the selection for _OTP Pattern_ field is cleared despite tapping the Apply button. Without having the selections for both fields retained, I cannot setup RCS chat in Google Messages.

[2019-11-01 04:33] VaanAuron commented on #22
I have somewhat the same problem but  for me when I put u in the 0TP pattern the apply button disappear and I can't apply it
![Screenshot_20191031-232215](https://user-images.githubusercontent.com/20316945/68002406-afd64700-fc36-11e9-84dc-5df18210f61c.png)
![Screenshot_20191031-232440](https://user-images.githubusercontent.com/20316945/68002416-bb297280-fc36-11e9-84e8-4b72b6e550f7.png)
 This my ph

[2019-11-01 05:25] butzist commented on #11
A search feature is now available in beta: https://play.google.com/apps/testing/de.szalkowski.activitylauncher

[2019-11-01 05:30] butzist commented on #22
Hi there,

not sure how my app could influence the behaviour of this (third-party) settings screen. Activity Launcher can be used to start the settings screen - but the activity does not belong to my app.
Are there any parameters or dimensions that I can pass when starting the activity?

[2019-11-01 05:49] timjobutler commented on #22
@butzist Does that mean the _Apply_ button belongs to the Google Messages app

[2019-11-01 06:55] JonnyTech commented on #11
Excellent, thank you. Cannot test as I do not use Google Play so shall wait until an apk is built or released.

[2019-11-01 08:45] butzist commented on #11
Take the APK from here: https://github.com/butzist/ActivityLauncher/releases/tag/1.9.0

[2019-11-01 12:16] butzist commented on #22
@timjobutler Can you try to scroll down? Or use a Keyboard with arrow keys (eg USB/Bluetooth).

[2019-11-01 12:19] butzist commented on #22
@respok Today, I also tried to enable RCS and I experience the same behaviour ie URL saved but OTP pattern not saved - and RCS not working in Messaging App even after Force Quit. I'll try to ask the tutorial author on Reddit, whether this is expected.

[2019-11-01 18:44] butzist commented on #16
Can you provide a stack trace or debug the app?

[2019-11-01 22:16] mmwhite8075 commented on #22
Hi. Looking for some help. Had RCS set up fine and now I can only send SMS, not receive. ATT, Note10+  Any help would be greatly appreciated.  I have done a factory data reset swaps in cards and still nothing.

[2019-11-02 10:28] JonnyTech commented on #11
Great work, it works well. Thank you for taking the time and effort to implement this. The only nitpick: When searching, can the nodes auto-expand? The search string is usually the intent but only the application names are shown. One has to open each node to view the text within to identify the required one.

[2019-11-02 12:42] respok commented on #22
under "Chat features" the"Status" it will say connected in green, and disconnected in red. my status says (green)connected so I guess it is working.

[2019-11-02 12:46] mmwhite8075 commented on #22
I am unable to get anything I can't even get a verification text sent to
me. I think I may have broken something when trying to re install. I am
able to send text messages through the app but I am not able to receive
text messages whether RCS or simple SMS

On Sat, Nov 2, 2019, 8:42 AM respok <notifications@github.com> wrote:

[2019-11-03 09:13] butzist commented on #11
Send me a pull request with your suggestion ;)

[2019-11-03 09:58] JonnyTech commented on #11
The update with filtering is much better. Thanks again. Any possibility of changing the fixed value of 10 items to something configurable? Or have the sections counted so if node headers < value x then expand all.

[2019-11-11 14:44] pmorrsn99 commented on #22
Ok I also cannot get the pattern to be applied, but my rcs works, but not for sending Group MMS, on my lg v30, however it does work from my nexus 6.

[2019-11-20 02:22] jexhed commented on #22
I have a similar problem, I can't scroll to the apply button once I set the OTP pattern. Seems to be problem with the app ?

[2019-11-20 04:50] butzist commented on #22
This is not related to activity launcher. But try to temporarily decrease the system font size.On 20 Nov 2019 03:22, jexhed <notifications@github.com> wrote:I have a similar problem, I can't scroll to the apply button once I set the OTP pattern. Seems to be problem with the app ?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-20 05:40] jexhed commented on #22
Ok, reduced the font size and can now access the "Apply" button. When I click on "Apply" nothing happens and the OTP pattern change doesn't stick ?

[2019-11-23 08:32] shivendratrivedi99 opened #23 "Can't find a few activities listed."
![Screenshot_2019-11-23-13-43-34-081_com google android googlequicksearchbox](https://user-images.githubusercontent.com/57279618/69475916-16472300-0df9-11ea-9311-dde6f178756e.jpg)
![IMG_20191123_125346](https://user-images.githubusercontent.com/57279618/69475917-16dfb980-0df9-11ea-9bdd-008ba02f0cc6.jpg)
![IMG_20191123_140015](https://user-images.githubusercontent.com/57279618/69475971-9bcad300-0df

[2019-11-24 00:48] kairusds commented on #22
this thread isn't an issue for the app bruh, try discussing this bug somewhere else also it works for me without setting the otp pattern so the problem is either your isp or device

[2019-11-29 08:05] butzist commented on #23
I can find com.google.androidapps.gsa.assistant.settings.AssistantSettingsActivity but it would not start. The other one I can not find - but also do not have GLens installed.

[2019-11-29 11:21] butzist commented on #22
Closing issue as not related to app. If anyone runs into an issue with the RCS settings "apply" button:
* reduce system font size to make button visible
* "apply" button will not close the dialog nor will give any kind of feedback that settings have been applied
* "OTP pattern" will apply but the dialog will not display the change
* if RCS does not work try force-closing the messenger app
* if RCS

[2019-11-29 11:21] #22 closed

[2019-12-09 17:43] chenweiwei0060 commented on #4
requestWindowFeature(Window.FEATURE_NO_TITLE);                    //隱藏標題列
getWindow().setFlags(WindowManager.LayoutParams.FLAG_FULLSCREEN,  //隱藏狀態列
                     WindowManager.LayoutParams.FLAG_FULLSCREEN);

[2019-12-10 17:16] ghost opened #24 "Dark mode"
A simple toggle would be nice

[2019-12-10 17:18] MikelJohnson opened #25 "Some icons are outdated"
Such as:
- search ([for reference](https://material.io/resources/icons/?icon=search&style=baseline))
- drop down ([reference 1](https://material.io/resources/icons/?icon=arrow_drop_down&style=baseline) and [2](https://material.io/components/menus/#dropdown-menu))

You should use Material icons

[2019-12-13 01:57] mjs6661999 opened #26 "Not working with pixel 4 XL"
Not working with pixel 4 XL
Android QQ1B.191205.012.A1 Dec update

[2019-12-16 02:40] randyhmptn commented on #26
Not working for my Pixel 4 XL either. Clicking on enable RCS flag defaults to opening the messaging app. Works fine on Samsung Note 10 +.

[2019-12-18 11:35] archlinuxbtw commented on #26
I am having the same problem but with a nokia 5.1 plus

[2019-12-19 15:16] mjs6661999 commented on #26
Hey program developer, is there a solution to this problem??

[2019-12-23 01:53] randyhmptn commented on #26
Hey guys, I got it figured out.

*Steps that worked for me - having done all OTA updates before trying:*

Quick note: *developer mode* *and* *installing apps from known sources *were
already turned on, I test some apps on my personal phone for work. Not sure
if this affected things in any way.

- I uninstalled all the updates possible from Message (Beta) but remained
in the beta in the Play store

[2019-12-23 02:10] mjs6661999 commented on #26
![Screenshot2_20191223-050122](https://user-images.githubusercontent.com/20506055/71331185-03338a00-2542-11ea-8851-31409a19a7e3.png)

This   what i get if i press  Set RCS Flags
I think there is a problem with the program itself when you use it with the Pixel 4XL phones .

[2019-12-23 20:43] randyhmptn commented on #26
Mind did the same thing until I installed the APK of the messages app. Then
it allowed me to set the RCS flags.

On Sun, Dec 22, 2019, 7:53 PM Randy Hampton <randyhmptn@gmail.com> wrote:

[2019-12-25 21:15] mmm4m5m opened #27 "crash in landscape (no horizontal scroll bar)"
Activity Launcher version 1.9.2, Android 9 Pie

If phone is in landscape mode and I start Activity Launcher, then application crash.

If I start Activity Launcher and then turn phone in landscape mode - application crash.

(Long lines go outside the screen, text can not be read, there is no horizontal scroll bar.)

Thanks!

[2020-01-16 10:11] slyzilo commented on #27
Its crashing on my samsung galaxy note 8

[2020-01-28 14:12] perry411 opened #29 "Do i have a bug"

[2020-02-02 20:53] Mrrajpoot commented on #26
https://github.com/butzist/ActivityLauncher/issues/26#issuecomment-568329369

Same issue with Huawei Y9 prime

[2020-03-05 03:33] vrajkovi opened #30 "Update to Android 10 no longer allows me to set RCS flags for Google messages"
After update to Android 10, on a Firstnet Samsung Galaxy S9, I'm no longer able to setup RCS flags for Google messages.

What it currently does:
![Screenshot_20200304-222547_Activity Launcher](https://user-images.githubusercontent.com/16692844/75948031-ea135780-5e67-11ea-9766-cc5e8afa148f.jpg)

What it's supposed to do:
![20200304_223008](https://user-images.githubusercontent.com/16692844/75948038

[2020-03-05 04:27] vrajkovi commented on #30
What happens and shows up currently

![Screenshot_20200304-222547_Activity Launcher](https://user-images.githubusercontent.com/16692844/75947789-34480900-5e67-11ea-985d-50c74fc22864.jpg)

[2020-03-05 04:30] vrajkovi commented on #30
What used to, and is supposed to pop up.
![20200304_223008](https://user-images.githubusercontent.com/16692844/75947988-c8b26b80-5e67-11ea-882d-977b948214c9.jpg)

[2020-03-09 20:28] azz-alt opened #31 "Activity launcher"
I can't view all my activity

![Screenshot_2020-03-07-16-20-11~2](https://user-images.githubusercontent.com/61647237/76254506-ade55a00-62a0-11ea-9460-0ba98299f125.jpg)

[2020-03-13 01:38] Toya88 opened #32 "No set rcs flags"
I have a Samsung galaxy note 5. I downloaded Google messages and Carrie services.  I followed all the instructions and downloaded the activity launcher,  but i don't have the set rcs flags.  I have joined the beta, cut my Wi-Fi off and restarted my phone but the option still isn't there. How can i fix it?
![Screenshot_20200312-203641](https://user-images.githubusercontent.com/52177401/76581435-506

[2020-03-14 00:29] muznyo commented on #32
@Toya88 That hack for enabling rcs was disabled by google so it won't work anymore

[2020-04-06 23:08] Simplypassby opened #33 "Settings??"
Hello,
I installed Activity launcher so I could access my kindle fire HD 8 (6th generation) usage data settings. Following instructions online, I was told one could select "all applications" and " settings" to get to this permission. I cannot find either option on the app.
Please help.

[2020-04-30 16:16] sdd67 opened #34 "Ad"

[2020-04-30 22:58] muzzol opened #35 "Launch a Youtube Playlist on NewPipe"
I'm trying to create a shortcut to a youtube playlist.

I'm currently using NewPipe as my yt player but I don't know how to create the shortcut.

Not sure if it's possible or not.

thanks for your time.

[2020-05-02 10:39] JonnyTech commented on #33
Search for `usage` in the app, it should find many, then try each one. My phone shows many activities:

![usage](https://user-images.githubusercontent.com/3584732/80861919-61e3df80-8c69-11ea-9e13-258f36b3483e.png)

[2020-05-07 14:47] johnFJ opened #36 "Androrlds"
Cheaters sucks big time

[2020-05-07 14:48] johnFJ commented on #36
#Learntoearnwastoomainstream

[2020-05-08 22:15] bobbely commented on #36
So im to understand what?

[2020-05-13 22:48] twistedink90 commented on #2
Idk wut im doung. Help?

[2020-06-06 07:55] Manuelnr67 opened #37 "Headphone controls and equalizer"
After Android 10 update the headphone equalizer and controls cannot be found in setting -- sound menú.
Could you please help ??

[2020-07-08 03:53] Hip-Dan commented on #29
Ty

[2020-07-23 12:42] ashirwad21 opened #38 "Google message"
Set RCS feature is not available in google message

[2020-08-01 18:21] proman7123 commented on #38
I am not getting the option to select all activities in updated Activity Launcher app.

[2020-08-04 16:52] jhapriyansh opened #39 "Can't find High Refresh Rate option"
I don't really blame this app, I somewhat think it's my device's problem.

[2020-08-23 10:34] 7ossam077 opened #40 "I can't find super wallpaper option"

[2020-09-07 04:51] isaacolsen94 commented on #38
I'm not getting this option either on my Note 20 Ultra

[2020-10-07 08:50] lma-gh opened #42 "Clicking on generated shortcut gives "App isn't installed.""
On a Huawei Mate 20 with EMUI 9, a shortcut to
Android's magnification gesture screen gets
generated, but upon clicking on it on the
homescreen, I get a small popup at the bottom
saying "App isn't installed".
.
If it helps: Wenn I just short-click on the activity
in the list of activities, I get a popup complaining
about permission denial of
.
huawei.android.permission.HW_SIGNATURE_OR_SYSTEM
.
How

[2020-10-16 02:30] trell-sys opened #43 "Cant choose high"
I just chose the beta version of this app and I can't chose high refresh rate what gives and my phone did an update on October 8th

[2020-10-20 01:49] Rachidddz opened #44 "I did not find this option"
![Screenshot_20201020-024243_Activity Launcher](https://user-images.githubusercontent.com/73148795/96530186-cd088900-127e-11eb-96cf-d14d944e051e.jpg)

[2020-10-20 01:49] Rachidddz commented on #44
Helpp

[2020-10-20 01:50] Rachidddz commented on #44
I did not find this option

[2020-10-21 16:19] Antonchijk commented on #44
@Rachidddz

[2020-10-22 17:26] Terminator147 opened #45 "SD Card as internal storage"
Upon formatting my SD card, my phone has filled up all 32GB of it with system storage. On top of that, deleting apps is not making any space for new ones; the storage says that the storage used for apps has reduced but keeps the available storage the same instead of going up. Anyone know how to help?

[2020-10-29 04:38] f1vefour commented on #45
Format it as removable storage if you don't want to use it for apps.

This has nothing to do with ActivityLauncher.

[2020-11-09 01:20] issacg9640 opened #46 "Motion Smoothness"
It does not work on my S10 rubbing One UI 2.5.

[2020-11-10 12:01] smsolaiman1 commented on #46
I can't on 120hz refresh rate.thre was no option to on refresh rage

[2020-11-16 17:44] Joselu07 commented on #46
No funciona el 120fps en mi S10+ ,ni con HD+

[2020-11-23 02:09] CHARLYPUNAY opened #47 "Ayuda, Bueno si Tiene arregló o Alguna solución?"
use mi tarjeta SD como almacenamiento interno, Existe Alguna opción para revertir este acto, (ya intente sacarla y olvidar como almacenamiento y no me aperece la opción) Utilice la función desde el Android Base que ofrece ActivityLaucher.

[2020-12-01 21:29] TechComet opened #48 "NetworkDashboardActivity on xiaomi redmi note 8 pro"
Hi,

NetworkDashboardActivity on xiaomi redmi note 8 pro not work

[2020-12-17 19:46] Sand1san opened #49 "Is this thing still works?"
I even never saw the "launcher activity" option in any apps.. is this my fault?
![Screenshot_2020-12-18-03-45-50-253_de szalkowski activitylauncher](https://user-images.githubusercontent.com/76181934/102535754-9e265c00-40e3-11eb-99a1-164e92929343.png)
![Screenshot_2020-12-18-03-46-06-582_de szalkowski activitylauncher](https://user-images.githubusercontent.com/76181934/102535762-9ff01f80-40e3-11eb

[2021-01-01 14:25] ahmad483 commented on #46
متى رح يتم تضمين ٢.٥ ل ١٢٠ هرتز

[2021-01-01 14:25] ahmad483 commented on #46
يائس

[2021-01-03 15:42] #49 closed

[2021-01-03 15:43] #47 closed

[2021-01-03 15:43] #44 closed

[2021-01-03 15:43] #39 closed

[2021-01-03 15:44] butzist commented on #37
Anything this app can help with? The activity exists but is not listed?

[2021-01-03 15:46] butzist commented on #42
Sound like Huawei proprietary mechanism preventing you from starting the app... Let me know when you find a solution and create a pull-request.

[2021-01-03 15:47] butzist commented on #45
Issue not related to this app.

[2021-01-03 15:47] #45 closed

[2021-01-03 15:48] butzist commented on #43
Is this a regression? Let me know when you find a solution and create a pull-request.

[2021-01-03 15:48] butzist commented on #46
Is this a regression? Let me know when you find a solution and create a pull-request.

[2021-01-03 15:49] butzist commented on #40
Is this a regression? Let me know when you find a solution and create a pull-request.

[2021-01-03 15:49] #40 closed

[2021-01-03 15:49] #32 closed

[2021-01-03 15:49] #29 closed

[2021-01-03 15:49] butzist commented on #33
Is this a regression? Let me know when you find a solution and create a pull-request.

[2021-01-03 15:49] #33 closed

[2021-01-03 15:50] #34 closed

[2021-01-03 15:50] butzist commented on #30
Has been disabled by Google

[2021-01-03 15:50] #30 closed

[2021-01-03 15:51] butzist commented on #24
Will see what I can do. Shouldn't this be a system-wide setting?

[2021-01-03 15:52] butzist commented on #26
Please re-open if the issue presists.

[2021-01-03 15:52] #26 closed

[2021-01-03 15:53] butzist commented on #2
Good idea. Would require root access - any free code you can point me to, that I can integrate?

[2021-01-03 15:55] butzist commented on #4
Let me know when you find a solution and create a pull-request.

[2021-01-03 15:55] #4 closed

[2021-01-03 15:55] #16 closed

[2021-01-03 15:55] #23 closed

[2021-01-03 15:56] butzist commented on #25
How can I update them?

[2021-01-03 15:57] butzist commented on #27
Is this a regression? Let me know when you find a solution and create a pull-request.

[2021-01-03 15:58] butzist commented on #31
Seems like the activity can not be started

[2021-01-03 15:58] #31 closed

[2021-01-03 15:58] butzist commented on #35
Not supported - only shortcuts to activities

[2021-01-03 15:58] #35 closed

[2021-01-03 15:59] butzist commented on #38
AFAIK has been disabled by Google

[2021-01-03 15:59] #38 closed

[2021-01-03 15:59] #42 closed

[2021-01-03 15:59] #43 closed

[2021-01-03 15:59] #46 closed

[2021-01-03 16:00] #48 closed

[2021-01-03 16:00] #11 closed

[2021-01-03 16:01] butzist commented on #13
Would be happy to include this if you make a PR

[2021-01-03 16:01] #13 closed

[2021-01-03 16:06] butzist opened #51 "Looking for co-maintainers"
The project is looking for co-maintainers. Some of the open tasks are:

* Periodically update translations from Crowdin
* Improve Google Play store listing
* Monitor crash reports on Google Play
* Moderate bug reports

[2021-01-08 02:28] mondlicht-und-sterne opened #53 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want. https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/ https://gitlab.com/snippets/1895688 That was simply information about what is still possible. You would then only have to enter the screenshots in fastlane.

[2021-01-13 08:06] Pietepost opened #54 "I can't turn on 120hz on samsung galaxy s10+"
I can't turn on 120hz with my samsung galaxy s10+ and i have a 120hz display and i have developer mode on and
I set my screen resolution is set to the lowest it can in the
Settings! Please help me.

[2021-01-14 02:50] megamanxzlol opened #55 "Creating shortcut"
I cant't find my way into creating a shortcut, everytime I try it sais that it was created but I cant find it anywhere, am I doing something wrong? Using xiaomi poco x3 version 12.0.7

[2021-01-17 03:43] vaimalaviya1233 commented on #54
Need More information

1. are you installing through android studio Or from any stores(google play, f-droid)?
2. is app crashing(closes app right after you opned)?

[2021-01-17 03:49] vaimalaviya1233 commented on #2
@butzist
[SU permissions](https://www.sitepoint.com/developers-guide-risky-android-app-permissions/)

[2021-01-17 15:33] Joselu07 commented on #46
No funciona 120hz en samsung s10+
-U.i 3.0 última actualización -

El dom., 3 ene. 2021 16:59, Adam M. Szalkowski <notifications@github.com>
escribió:

[2021-01-17 15:47] drogga commented on #2
Already done in a fork. You can get some ideas form there, like how it's implemented, even tho it's based on a super old version build, that doesn't even have the search functionality.

Dev. - please read you E-Mail inbox, the one form the app's Play Store page that you provided.
I don't know why the hell did you increased (bump - AGAIN) the minSDKversion (API) this time to 19 [4.4 KK], it seems l

[2021-01-17 16:01] drogga commented on #54
@Pietepost why lied to you that SGS10+ supports high refresh rate ?, cuz is not true !
You can search for "motion" and maybe even set it to "high" \ 120Hz (placebo), but it won't work as it's not actually supported by the display\screen hardware tech itself, its not something you can change on software bases.
Samsung devs. left it there, simply because they are lazy and don't want to bother changi

[2021-01-17 16:18] drogga commented on #55
@megamanxzlol Can other similar apps create shortcuts to your home screen, if not, then the fault is in the Xiaomi\Poco launcher itself, basically nothing can be done, as there are no more shortcut permissions that can be added...
If you use a custom launcher diffrent from the POCO's one, then check the stock one, it's probably there instead of the custom's.

[2021-01-17 18:01] megamanxzlol commented on #55
Thanks, I suspected it was  xiaomi's problem, I'm actually using stock
launcher. This wouldn't be the only problem with xiaomi. Anyways, thanks
again

On Sun, Jan 17, 2021, 13:19 drogga <notifications@github.com> wrote:

[2021-01-18 03:58] vaimalaviya1233 commented on #55
@megamanxzlol
Please Kindly Close this issue if it's been solved 😳

[2021-01-18 03:59] vaimalaviya1233 commented on #53
@butzist
Needed screenshots update On F-droid

[2021-01-18 04:05] vaimalaviya1233 commented on #54
@drogga
@Pietepost
If that's the case this issue should be closed
because turning on 120hz refresh rate is not what this launcher's problem @Pietepost  should be contacting samsung right now
THIS IS NOT SAMSUNG'S CONTACT WEBSITE
PLEASE AND KINDLY CLOSE THIS ISSUE

[2021-01-18 05:14] vaimalaviya1233 commented on #27
@butzist @slyzilo @mmm4m5m
Sorry to say But this issue is Resolved in version 1.10.0 and tested myself on Galaxy note 10+(android 10)
Close this issue 🥳

[2021-01-18 05:24] vaimalaviya1233 commented on #37
@Manuelnr67 @butzist
If your're on android 10 and on samsung phone it's under SoundAlive app
it's already listed and if not use search "sound" or "equalizer"
issue solved please close the issue

[2021-01-18 05:45] vaimalaviya1233 commented on #25
@butzist
I will try to implement and try to make it able to change it between day and dark mode since i cannot  find way to make old menu chnge to dark theme and i think create pull request

(i am still getting use to github so correct me if that’s not the correct way to contribute to this project)

adn if you want to get some idea here is the [Link](https://material.io/components/menus/android#us

[2021-01-18 05:48] #37 closed

[2021-01-18 05:50] #55 closed

[2021-01-18 05:50] #54 closed

[2021-01-18 05:51] #27 closed

[2021-01-18 05:56] butzist commented on #2
@drogga Will look into launching private activities

Regarding minSdkVersion: I had issues keeping the code clean and simultaneously supporting old Android versions. If you have a suggestion plz create a PR.

[2021-01-18 05:57] butzist commented on #2
@drogga of you have code for dark mode support - please share

[2021-01-18 06:29] vaimalaviya1233 commented on #2
@butzist
Although i was not able to theme the drop down menu and loading dialogue box but anything other than that is themed here i will keep that only until january 20th  since it's author is you and i don’t know if the many file i will be able to create pull request so i was going to work on renewing menu bar  so download if you want to still want to work on dark mode [Activity-dark-mode](https:

[2021-01-18 15:59] drogga commented on #2
@butzist That's unfortunate, I'm very dissapointed to read that...!
Let someone else figures-out a workaround / solution to this, the <4.4 compatibility.
Dark UI - I guess there's no point anymore, since @vaimalaviya1233 picked this, but anyway, my solution is way more simpler:
/res/values/styles.xml > DeviceDefault (I don't remember doing anything else...)

[2021-01-18 21:25] vaimalaviya1233 commented on #2
@drogga
Thanks for giving idea but originally i was going  use newer material menubar and it was also compatible with theming and make it side bar instade of poping
Menu list from top anyway thanks😊

[2021-01-19 06:16] vaimalaviya1233 commented on #2
@drogga as per of your increasing bump of minSDKversion is sometimes requires to add options like theming and adding more features if it wasn’t for supporting older versions of android it would have gotten big big visual and functional support and major revamp in design. but keeping up support for older devices is becoming more difficult because some of API's is deciparated by google.

[2021-01-19 06:34] vaimalaviya1233 commented on #25
@MikelJohnson
Update for updated icons and menu will be ready in next few days 👍🏼

[2021-01-21 09:55] HUSNAIN4443 opened #57 "60hz to 120hz"

[2021-01-21 11:05] drogga commented on #57
Who told\lied to you that SG S\N 20 supports high refresh rate ?, cuz is not true !
You can search for "motion" and maybe even set it to "high" \ 120Hz (placebo), but it won't work as it's not actually supported by the display\screen hardware tech itself, its not something you can change on software bases.
Samsung devs. left it there, simply because they are lazy and don't want to bother changing

[2021-01-21 11:15] HUSNAIN4443 commented on #57
Thanks for informing me about it that its not that app its the problem the
the mobile display..
I'm sorry 😞 for that because I'm was thinking that the app is not working
but you told me the real story.  Thank you so much.  If you want to delete
that issue you can

On Thu, 21 Jan 2021, 1:06 pm drogga, <notifications@github.com> wrote:

[2021-01-21 20:50] gamingfield commented on #57
and the galaxy note 8
have 120Hz?

[2021-01-22 11:21] drogga commented on #57
@gamingfield **NO, only 2020>^ S & Note models/series, nothing before that !**
...I don't get what is ho hard for you to understand..., did you see on any of those 120Hz in the specs, let's say in GsmArena > No !, so why do you thing that you are exception and samsung put by mistake a high refresh screen specifically in your device, but not in others of the same huh ?

@HUSNAIN4443 Please close th

[2021-01-22 11:24] drogga commented on #57
@gamingfield - **NO, only 2020>^ S & Note models/series, nothing before that !**
...I don't get why is so hard for you to understand..., did you see on any of those 120Hz in the specs, let's say in GsmArena > No !, so why do you thing that you are exception and samsung put by mistake a high refresh screen specifically in your device, but not in others of the same huh ?

@HUSNAIN4443 Please close t

[2021-01-22 11:30] #57 closed

[2021-01-22 11:30] HUSNAIN4443 commented on #57
Its solved outside

[2021-01-22 11:32] drogga commented on #57
Ok, thanks, but you didn't have to edit your OP to nothing...

[2021-01-22 13:15] drogga commented on #2
So I downgraded the minSDKversion back to 14 of the Debug Builds (the PS and F-Droid builds crash on launch, so they doesn't seem to work at all on lower than 4.4 with this method, so thanks god the debug ones do) so I could do some tests on 4.1.2 Tablet and the only issue seems to be the misplaced drop-down \ expand symbol of the activities that shows up over the icons, plus the crash on rotation

[2021-01-22 13:52] vaimalaviya1233 commented on #2
@drogga  it doesn’t seem to crash on my phone(android 10) when rotating so it's issue that occurs on older devices so if you can get crash report. i or someone might be able to fix it because i don’t have phone older than android 6.0  and newer than android 10. glad you liked theme but unfortunately menubar can’t be themed and android pop-up dialogue box so i'm working on new menu bar it will have

[2021-01-23 04:53] vaimalaviya1233 commented on #2
@drogga @butzist  getting way around crashing on android 4.4 is to launch activity launcher while phone is landscape. and @drogga i need your help you can contact me at [telegram](t.me/Vaimalaviya) [Instagram](instagram.com/vaibhav_malaviya/) [twitter](twitter.com/Vaibhav74701285)

[2021-01-23 11:17] drogga commented on #2
---- Jan 23, 2021 12:50:22 PM ----

01-23 12:48:36.054 14297 14297 E AndroidRuntime: java.lang.RuntimeException: Unable to start activity ComponentInfo{de.szalkowski.activitylauncher/de.szalkowski.activitylauncher.MainActivity}: androidx.fragment.app.Fragment$e: Unable to instantiate fragment de.szalkowski.activitylauncher.c: could not find Fragment constructor

01-23 12:48:36.054 14297 14297 E An

[2021-01-23 16:41] vaimalaviya1233 commented on #24
@MikelJohnson
On this sunday (central time zone) in github it's finally coming with fully dark themed
Don't know when it's going be in play store since butzist have to do that.🤯🎉🤯

[2021-01-23 19:32] vaimalaviya1233 commented on #2
@drogga thanks for debug log. For crash issue i installed android 4.4 emulator but since it's occurring below android 4.4 so I'm gonna test on lower android
And yes you can email me on vaibhavmalaviya@yahoo.com
And i needed help in colors that you previously mentioned i liked theme, i am sorry but i have tested for many colors themed so if you can send me screenshot of that theme so it will be gre

[2021-01-23 19:59] butzist commented on #2
@vaimalaviya1233 The traceback does not look useful.
@drogga You need to install a debug build to get any useful traceback. Just build the app from sources. Then you will also see why it is not easy to keep the support for old API versions...

[2021-01-23 20:31] drogga commented on #2
I've never mentioned any colors !!
My ENg is not the problem, as mine is fluent, your's not !
I never said that this is "traceback" of a debug build (...IDK where do you read those stuff...), it's a LogCat, that's how they look like !
I can't build from source, I don't have the necessary tools. Also I can't deal with those currently.
Keep in mind that, Currently I don't have much interest in the c

[2021-01-28 06:30] vaimalaviya1233 commented on #24
@butzist  hi there dark mode is ready so should I create pull request or what should I do ? because it fully supports androidx compatible but on lower end I had to manually create  styles to make it dark so there have been few changes to layout files. Finally Getting Dark 🕶.

[2021-01-28 06:43] butzist commented on #24
@vaimalaviya1233 Awesome, please create a PR, and I will review on the weekend

[2021-01-30 01:08] vaimalaviya1233 commented on #24
@butzist I am newbie on github and full-time high school student so you might have idea i don’t know enough about github but i am getting use to it so and many files have been modified like 1 -2 lines in changed files almost 129 files so it may take me 2-3 hours to find each files and re-edit those
if you want you can take look here check last commit
[github.com/vaimalaviya1233/Dk-silencing-Adam](

[2021-01-30 07:27] butzist commented on #24
@vaimalaviya1233  Can't find that commit you are referring to - the link does not work. Found 2 commits in your fork and created a PR for it. Can you update your matter branch with those changes you are referring to?

[2021-01-30 07:50] vaimalaviya1233 commented on #24
@butzist
I haven't completed updating it to datkmod so I will create pr as soon as I'm done with update fork

[2021-02-01 01:39] vaimalaviya1233 commented on #24
@butzist darkmod is completed

[2021-02-02 20:50] Abbaful opened #59 "Not working on redmi 8"
Please fixed this issue on this app not working on redmi 8

[2021-02-03 11:16] drogga commented on #59
@Abbaful - What exactly isn't working ?
...if tou mean that you can't create shortcuts to the home screen, then you need to go to "Other permissions" and specifically allow that, I actually explained it better in one of the closed "issues" (tickets) recently, but if this is not the problem, then please provide some more info, like Android Version, LogCat (if possible), screenshot or screen record

[2021-02-03 15:26] Abbaful commented on #59
The problem is that, I cannot clear cache under storage

On Wed, 3 Feb 2021, 12:16 pm drogga, <notifications@github.com> wrote:

[2021-02-03 15:26] Abbaful commented on #59
I can't clear cache on redmi 8 under storage settings

On Wed, 3 Feb 2021, 4:25 pm Abubakar Muhammad aliyu, <
abubakarmuhammadaliyu8@gmail.com> wrote:

[2021-02-03 18:00] drogga commented on #59
**Not the apps's fault !!!**
@butzist please close this, or you can give me a permission to be able close them...

[2021-02-04 15:01] mattro9010 opened #60 "Redmi note 8 pro"
I can't create shortcut on redmi note 8 pro

[2021-02-04 15:05] mattro9010 commented on #60
I solve that

[2021-02-05 10:23] drogga commented on #60
Close it then...

[2021-02-05 10:27] drogga commented on #59
@Abbaful
**Not the apps's fault !!!**
...IDK why ppl keep opening pointless issues\tickets like this one...

@butzist - please close this, ...or you can give me a permission to be able close them...

[2021-02-06 07:38] samSame6 opened #61 "SD formatting"
Used app to format SD card now SD card does not show on any device does your app come with a warranty?

[2021-02-06 10:08] drogga commented on #61
@samSame6 - **Yes, it does !** when you first launch it, there's a warning message prompt\window that appears.
It isn't the app's fault for your mistakes, so please close this. Thanks.
BTW - you shouldn't have used it for this in the first place for this, as the option should be build-in in the UI (menus - onder "storage" options) and not something that you have to look for in the activities, but

[2021-02-06 10:14] drogga commented on #61
@samSame6 - **Yes, it does !** when you first launch it, there's a warning message prompt\window that appears.
It isn't the app's fault for your mistakes, so please close this. Thanks.
BTW - you shouldn't have used it for this in the first place, as the option should be build-in in the UI (menus - under "storage" options) and not something that you have to look for in the activities, but if for so

[2021-02-07 22:03] msiejak commented on #51
I'd be willing to do some of that (I only speak English though, so no translations)
Could you email me some more details?

[2021-02-07 23:24] gaborbit opened #62 "Google pay shortcut issue"
Hi

I have created shortcut for Gpay (settings - Google - account services - Google pay) if launched from the app it works fine but the created shortcut doesn't, it redirects to blank screen

com.google.android.gms.tapandpay.settings.TapAndPaySettingsActivity

Thanks

[2021-02-09 06:42] #61 closed

[2021-02-09 06:43] samSame6 commented on #61
taken and noted drogga

[2021-02-09 12:45] drogga commented on #62
Don't you think that thus is on purpose...!?
Can other similar apps (competitors) that can list and create shortcuts to activities create one that works ?, if not, then you see why ^ and this is probably a pointless issue ticket, so please close it if I'm right...

[2021-02-11 08:29] SakhawatAkib opened #63 "Shortcut is not working in Realme X2 cn"
![Screenshot_2021-02-11-14-14-33-08](https://user-images.githubusercontent.com/47961016/107614838-459fb500-6c75-11eb-9fd4-04ee33231cef.jpg)
I create a shortcut for settings -> pickUpRegion
But that shortcut failed to open like attached picture

[2021-02-12 02:02] brentonv opened #64 "Android TV "Error creating shortcut""
I get this [error](https://i.ibb.co/j5bDhgt/Pin-Shortcut.png) when trying to create a shortcut on Android TV.

Could you please add an option in context menu to create Android TV shortcut.

Thanks for all the work you put into this project.

[2021-02-12 10:47] focus17 opened #65 "Running Activities on secondary screen.?"
I have my hands on a new LG Wing and trying to use a necent gamepad on the secondary screen.
Online everyone has been trying to get the LG Gamepad Service to run the "Swivel Screen" with your app but as for as far as I can find, with no success.

Are you familiar with if and how I would be able to run a service application on an alternate display?

[2021-02-12 12:06] drogga commented on #64
Not possible, simply because the leanback launcher doesn't support shortcuts at all (nor the other third party TV launchers), it uses banners instead, which should be pre-build by the app developer.

https://play.google.com/store/apps/details?id=by4a.sideloaded_app_icons
This paid app claims that it can create ones, but I never tried it, so if you purchase\buy it, please backup and send me the .ap

[2021-02-12 12:16] drogga commented on #65
I don't think it's possible or related to (or has anything to do with) this app, simply because in split mode a custom LG launcher is being used which uses banners instead of regular icons\shortcuts, but maybe you can map some key to launch it with a Key Mapper app...

This issue should\can be closed as it's not the project's \ app's fault !

[2021-02-12 12:23] drogga commented on #63
Allow all the app's permissions (especially the extra ones that those Chinese manufacturers use - under "Other Permissions") and try again.
You can also try with a competitor\similar app or creating a shortcut to AL itself from within the app and see if this will work, because nobody can guess what the issue might be, when not everyone uses such crappy devices that put super unnecessary restrictio

[2021-02-12 12:39] drogga commented on #63
...report back how it went...
Also please close this issue ticket if you solve the problem, which again - is probably not the app's fault, thanks.

[2021-02-12 14:40] brentonv commented on #64
Thanks for your response @drogga but I will rather hear from Adam about what he has to say and then he can close the issue. I am certainly not interested in purchasing an app for you, but you could use this for free if you want to create Android TV shortcuts that you claim is not possible https://atvlauncher.trekgonewild.de

[2021-02-12 15:52] drogga commented on #64
Yeah, you can wait for Adam's response as much as you want...!
You got it all wrong, I gave you a damn suggestion of a good and friendly will, I didn't tell you to purchase any app for me or anyone else, honestly I don't know where the heck you read those stuff and why I'm wasting my time in vain because of stupid ppl...

This online tool creates a separate app that launches the main activity of t

[2021-02-19 14:36] Morph21 commented on #63
I'm not sure how it went for @SakhawatAkib but changing permission solved the issue for me on Redmi note 7 (miui 12)

[2021-03-08 10:07] drogga commented on #24
@vaimalaviya1233 Adam is lazy, build a normal (non-debug) .apk of your fork if you want...
_You can create "Releases" directory and put the APK file there, since you can't simply put it in the "Releases" Tab - I think._

[2021-03-08 13:23] vaimalaviya1233 commented on #24
@drogga thanks I will try it and also try to resolve crash issue if I can 🙂

[2021-03-11 15:37] vaimalaviya1233 commented on #25
Icons are up-to-date

[2021-03-12 09:21] drogga commented on #24
OK...
I also had a FC when I was looking to pick a custom icon for a shortcut, which happened like 3 times, then I tried to reproduce it manually on purpose in order to count\detect how many seconds or minutes takes before it crashes, but then it refused to crash, so no luck on that part, but I think it took ~30 seconds the first 3 times.

I saw that your fork now has a Debug Build APK [3.4 MB in

[2021-03-13 21:14] vaimalaviya1233 commented on #24
@drogga  i have generated and published release version 1.10.2 since its signed by me you will need to uninstall installed activity launcher and i have also added  Crashlytics of firebase to know where crash occurs but google services, you'll need google services installed for Crashlytics to work.
https://github.com/vaimalaviya1233/ActivityLauncher/releases/tag/1.10.2

[2021-03-14 15:34] drogga commented on #24
Ok thanks, I installed the release 2MB build on friend's device, so you should've got some reports...
_Tho in future I prefer releases without firebase or any other analytics or debug info including\integrated\build-in, because this is too large already compared to the one from play, which is ~712 KB installed, but this 8.46 MB._

[2021-03-14 15:57] drogga commented on #24
Ok thanks, I installed the release 2MB build on friend's device, so you should've got some reports...
_Tho in future I prefer releases without firebase or any other analytics or debug info including\integrated\build-in, because this is too large already compared to the one from play, which is ~712 KB (of bundle\splits), but this 8.46 MB (all invluded - universal) installed._

Also since you signed

[2021-03-14 16:02] drogga commented on #24
Ok thanks, I installed the release 2MB build on friend's device, so you should've got some reports...
_Tho in future I prefer releases without firebase or any other analytics or debug info including\integrated\build-in, because this is too large already compared to the one from play, which is ~712 KB (of bundle\splits for this device), but this is 8.46 MB (universal - even thi everything is includ

[2021-03-14 16:39] butzist commented on #51
Hi Michael,

thanks for your interest. Do you have experience with building Android Apps with GitHub actions? The most urgent contribution for the project would be setting up some CI for the PRs and auto-publishing master to the Play store Alpha track. It's quite a bit of overhead building a new release at the moment as it involves:

* Build translations on Crowdin
* Download translations and inte

[2021-03-14 18:38] vaimalaviya1233 commented on #24
@drogga thanks for feedback  and I only included because I couldn't figure out where crash happened that's why I included firebase and it will not be on future builds. And thanks for crash log retrieved from firebase I will share with @butzist  and if you want you can Uninstall firebase and install normal version from google play store. Thanks again and will work fast as possible to resolve issue

[2021-03-14 18:55] butzist commented on #24
Do we want dark mode as default for Android versions before 10? As far as I know only since 10 you can set light/dark as system default.

I would expect that for older versions, the app would use system default and only potentially allow the user to switch to a different theme.

Opinions?

[2021-03-14 20:39] drogga commented on #24
Yes, let it be dark by default on everything, no need to make the app even heavier (in size), overcomplicate it with supporting different themes, switches and so on...
At least on Samsung device (OneUI) you can switch to dark system wide since Android 9 Pie, but technically you can do that even on A7 Nougat with the help of some third-party apps (not by installing themes or overlays), so the ones

[2021-03-14 20:44] #63 closed

[2021-03-14 20:50] #59 closed

[2021-03-14 20:52] #60 closed

[2021-03-14 20:54] #65 closed

[2021-03-14 20:55] #64 closed

[2021-03-14 20:57] #62 closed

[2021-03-16 01:05] vaimalaviya1233 opened #66 "Runtime Exception on AllTasksListAdapter.java due to Package manager has died"
crash logs retrieved from firebase with help of @drogga

![Web capture_15-3-2021_20338_console firebase google com](https://user-images.githubusercontent.com/55515799/111240605-920a4780-85c9-11eb-8f4f-c4609bd0f367.jpeg)

[2021-03-16 02:54] vaimalaviya1233 commented on #66
Although I do not have experience in kotlin but I have doubt if it solves crash issue if tested locally by converting to kotlin ?

[2021-03-16 11:07] drogga commented on #51
@msiejak ^

[2021-03-16 14:01] msiejak commented on #51
I don't have much experience with github actions, but I'll work on it. And in the meantime, I would just manually build it like you have been doing. But I could most likely make a batch script for automating the translation process. I do have experience with android apps, though.
[msiejak.dev](https://msiejak.dev)

[2021-03-16 21:07] vaimalaviya1233 commented on #51
This article might give idea with [how to build with GitHub actions](https://medium.com/@josealfonsomora/publishing-android-apps-with-github-actions-3cb9a90396ca)

[2021-03-16 23:16] vaimalaviya1233 commented on #66
Alright we need some improvements here because this happened reason is that RAM was too low and Android OS likes to reserve some RAM for it's operation process and this makes issue because installed applications are more this requires more RAM(memory)
month ago before I did factory reset I had like 5300+ application installed and at that time i seen memory usage of activity launcher(1.10.0) it was

[2021-03-17 01:49] drogga commented on #66
Your release build with firebase eats 87MB of RAM here, it's not how I'd like it to be, but it's not that much either, still a lot tho...

[2021-03-17 03:25] vaimalaviya1233 commented on #66
like i said before there was no means of mine to collect any data except crash log and since it's done you can uninstall it and i have released 1.10.5  lighter version(original with theme)
and it's 258 KB so hopefully it might not crash(can't tell for sure) since i removed firebase from it and any other things that could take up storage

[2021-03-17 03:25] #66 closed

[2021-03-17 15:11] drogga commented on #66
PLEASE **Learn to read** for god's sake...
You wrote that you think that the crashes are because it sucks a lot of memmory on your device (~1 GB), I simply replied how much RAM it takes of on my end, nothing more and I definately didn't complained that you collect any data besides the crash logs... so the problem ain't that cheif.

So you basically have put absolutely the same thing as on Play Sto

[2021-03-17 15:22] drogga commented on #51
@butzist ^

[2021-03-23 15:06] Ou71and3r opened #67 "Shortcut creation does not working."
Using Xiaomi with Android 11 and Activity Launcher can't create shortcut to any app.

[2021-03-24 10:03] drogga commented on #67
https://github.com/butzist/ActivityLauncher/issues/63#issuecomment-778164924

[2021-03-24 10:03] #67 closed

[2021-03-30 23:47] win7guru opened #68 "Improve app database load time"
The initial load time where it says the number of apps next to a progress bar is too slow. After this is complete, subsequent opens of the app are very quick.  However, once another app has been loaded outside of Activity Launcher, the same slow loading exists. I have over 500 apps it needs to load each time I return to the app. Therefore, can you improve the initial load time, as well as subseque

[2021-03-31 07:40] drogga commented on #68
Feel free to create a Pull Request addressing / fixing / optimizing this process, tho I can't guarantee that we will merge it...

[2021-04-05 07:08] #25 closed

[2021-04-05 07:34] drogga commented on #66
#24

[2021-04-06 15:08] codingbro-glitch opened #69 "Shortcut cannot be created"
It's just shows creating shortcut but does not create it.

[2021-04-06 15:08] #69 closed

[2021-04-25 15:40] rgopikrishna4 commented on #69
Same problem

[2021-04-29 12:44] drogga commented on #69
@rgopikrishna4 - You can check the other related & closed issues, where I commented on and explained how to allow the s-t creation.
In short - It's not the app's fault {probably} !

[2021-05-07 09:05] RegularBudgie opened #70 "Problem"
App keeps adding icon to the homescreen.

[2021-05-07 10:04] butzist commented on #70
Sounds like exactly what the app is supposed to do :rofl:

[2021-05-11 07:22] #70 closed

[2021-06-07 14:57] Hypermona opened #72 "Can't open settings in redmi note 5 phone"

[2021-06-08 06:18] #72 closed

[2021-06-18 04:31] jidanni opened #73 "Activity details in hard to read Gray"
Activity details in hard to read grey. Please use black.

[2021-06-18 04:35] jidanni opened #74 "List should stay stable when changing phone orientation"
In the long list of apps, if we open one of them and then turn our cell phone horizontally it gets closed and we arrive back at the top in the page.

For instance tap Play Store and we see a lot of activities.  Now turn your phone horizontally and it all closes back up and we're back in the A's.

[2021-06-18 23:09] vaimalaviya1233 commented on #73
@jidanni
all text colors are in high contrast if you build from GitHub.  dev hasn't updated this high contrast color version in play store

@butzist  playstore update needed thanks

[2021-06-29 13:06] vaimalaviya1233 commented on #73
@jidanni  hi there's apk built from github action run you can [download ](https://github.com/butzist/ActivityLauncher/runs/2653280281)that artifact it's in zip file extract and there is ap
k inside which you can install( darkmode , high contrast text-colors) you can download from either there or i have attached that zip file in the end of comment

[Debug (1).zip](https://github.com/butzist/Activit

[2021-07-01 14:17] HIRENPATEL0P opened #75 "Password"
Please recover my password of this phone app lock I am forget that so Please recover fast I have very eargent work

[2021-07-02 19:34] #75 closed

[2021-07-03 09:12] jidanni commented on #73
Thanks, I'm not in that big of a hurry so I'll just get it when it arrives in the new version.

[2021-07-04 07:24] Jcdhehe opened #76 "Can't do face unlock"
Please fix this, please, I would love to use face unlock

[2021-07-04 07:49] #76 closed

[2021-07-04 10:33] butzist commented on #73
Please try the beta release version 1.11 (in review now and should be available in a few days) and let me know if it fixes the issue

[2021-07-04 10:34] butzist commented on #24
Please try the beta release version 1.11 (in review now and should be available in a few days) and let me know if it fixes the issue

[2021-07-04 10:36] butzist commented on #51
@msiejak Then please go ahead and create pull-requests with translation updates from Crowdin. I have a script in the repo that used to fetch and extract the new translations - but not sure it is still functional.

[2021-07-04 10:38] butzist commented on #51
For me automating the the build and release process would be the greatest help - for me it's always >1h of work to get out a new release. That's why it does not happen very often ;)

[2021-09-09 05:36] Chablawofc opened #80 "Expansão de memória"
Não consigo desfazer a expansão de memória que fiz um tempo atrás pelo aplicativo. O que faço? Não para de aparecer "divisão interna de armazenamento".
Meu dispositivo é um poco x3 NFC

[2021-09-16 05:28] cagangurdal opened #81 "I can't use power button"
I am looking through the settings and my finger accidentally touch some setting.Now I can't access power button.

[2021-09-16 05:48] #81 closed

[2021-09-16 05:49] cagangurdal commented on #81
I am very sorry for disturbing developers.I found it what I did.I probably should be more careful playing with settings without proper knowledge.

[2021-09-22 02:05] Sasuke21777 opened #82 "Problema con la carpeta archivos, SD"
Sigo el procedimiento para adaptar una SD pero al momento de llegar a Opciones de almacenamiento se cierra la nueva ventana y no me permite continuar.

[2021-09-24 06:29] #82 closed

[2021-09-24 13:22] AdeshAtole opened #83 "Getting this on trying to create Dolby Atmos shortcut on OnePlus 8"
[code]

[2021-10-10 17:04] MaxPro03 opened #86 "How to return the cellular indicator?"
![IMG_20211010_215954](https://user-images.githubusercontent.com/68842645/136705985-a32503a8-5ae9-4bba-b267-7685b8b4b4b2.jpg)
![IMG_20211010_220355](https://user-images.githubusercontent.com/68842645/136705987-079e9c9d-0585-4235-bc87-55609e79e10b.jpg)

[2021-10-11 08:36] #86 closed, assigned to nobody

[2021-10-11 08:37] #83 closed

[2021-10-11 11:38] MaxPro03 commented on #86
Hiw to return?

[2021-10-12 15:12] MaxPro03 opened #87 "Please help me! How to return this indicator?"
![IMG_20211010_215954](https://user-images.githubusercontent.com/68842645/136982528-a061b694-b32c-46dd-aa46-8d7576476ef7.jpg)
![IMG_20211010_220355](https://user-images.githubusercontent.com/68842645/136982557-4f9267e7-c8b7-4b9d-959e-cb71337fcc0d.jpg)

[2021-10-13 18:21] 8796975512 opened #88 "Password"
I forgot password  please unlock it.

[2021-10-16 15:12] #88 closed, assigned to nobody

[2021-10-16 15:17] drogga commented on #87
...and this is out problem and we should care because !?...
Why and how did you thought that this is related to this app's development !?

Open this one more time and you will *probably* be reported or straight up banned \ blocked from this repo !

[2021-10-16 15:17] #87 closed

[2021-10-16 18:07] MaxPro03 commented on #87
![Screenshot_2021-10-16-23-05-43-327_de szalkowski activitylauncher](https://user-images.githubusercontent.com/68842645/137597757-cbb1aeb9-3108-40f5-a702-bd465adedd88.jpg)

[2021-10-16 19:58] drogga commented on #87
...so it was the SystemUI Tuner all along and you fixed what you broke ?
BTW, there's a disclaimer message at first launch, that writes:
"Use this software at your own risk. Some apps might not behave as expected when their activities are launched in the wrong context leading to data loss or even worse. You have been warned. Do you understand this and still want to use this software?"

[2021-11-19 14:07] petarrmn opened #90 "Set RCS Flags"

[2021-11-19 14:08] petarrmn opened #91 "Set RCS Flags"
https://github.com/butzist/ActivityLauncher/tree/master

[2021-11-20 09:26] #90 closed

[2021-11-20 09:26] #91 closed

[2021-11-21 09:12] oldherl opened #92 "Should use Adaptive Icon when creating a shortcut for an app with Adaptive Icon in itself"
From Android Oreo (8.0), [Adaptive Icons](https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive) are used for App icons. Newer apps, including ActivityLauncher itself, are using this new Icon specification. But the shortcuts created by ActivityLauncher are not using Adaptive Icons.

Find the "FIles" app: (current master branch)
![icon-applist](https://user-images.githubu

[2021-12-18 14:45] #92 closed

[2021-12-18 14:50] #24 closed

[2021-12-18 14:51] #73 closed

[2021-12-21 11:25] butzist commented on #74
Orientation has been disabled to work around this issue

[2021-12-21 11:25] #74 closed

[2021-12-21 11:27] butzist commented on #51
Update: Automated the build and release to beta track on Google Play.
Still looking for someone to
* Create releases
* Update translations from Crowdin

[2021-12-22 22:50] drogga commented on #74
In older versions (those that didn't crash when rotating) I was able to fix this simply by adding android:configChanges="orientation" under the main activity in the manifest, making it to not reload/refresh.
I would've restrictes/disabled/prevented the rotation in the manifest instead...

[2021-12-27 21:17] butzist commented on #2
@drogga @Magissia @jadedgnome @vaimalaviya1233
I added some preliminary root support in PR #99

https://github.com/butzist/ActivityLauncher/pull/99

Can someone validate if this works? I don't have a use case for this.

[2021-12-27 21:24] butzist opened #100 "Collect tutorials and publish links in README"
There seem to be quite a few tutorials and references out there that point users to this app. How about collecting those and create an index in our README to illustrate a few use cases - and possibly point users to the better/working tuturials

[2021-12-28 14:17] drogga commented on #2
I can test as soon as tomorrow (in x86 4.4 VM)...

[2021-12-29 11:21] drogga commented on #2
@butzist
The workflows are too much I think {Debug Build, Debug Build for PR, Release Build, Update Play Store listing}...
I DLed 2 artifacts from the latest workflows and they are in .aab {the file that is uploaded to PS} after extracting the .zip archive and I can't use those and there's basically no point in trying the older ones (in case there's .apk artifacts in those at all) as the test won'

[2021-12-29 15:02] butzist commented on #2
The workflows are just for me to automate the release process. Will probably get rid of the debug build, so all binaries are properly signed.

Very well, I can attach the built images as .apk instead

Neighter do I - someone else seems to be managing those

Good point, will try to add that today

I've reverted most of the changes but kept the improvements - now using native theme everywhere. Andro

[2021-12-29 16:58] butzist commented on #2
@drogga Here's a new release for you: https://github.com/butzist/ActivityLauncher/actions/runs/1634738629

Now we're also listing unexported activities - additionally, I might have fixed the color issue of the icons in dark theme.

[2021-12-29 18:14] butzist commented on #2
@drogga @vaimalaviya1233 If you can confirm that everything works fine for you, I will release to production. As a followup, I will investigate whether there are any safe ways of creating shortcuts to private activities.

[2021-12-30 15:16] drogga commented on #2
If you want, I can show some examples of custom naming the artifacts on build, that can be made not only to include the app name, but also the version and build. That's what I meant by "there's no custom naming of those artifacts files, which is super confusing and honestly a mess".

You didn't have to keep restricting the rotation\orientation, I mentioned [android:screenOrientation="unspecified"]

[2021-12-30 15:48] drogga commented on #2
It looks like this is revived: https://github.com/sdex/ActivityManager
It's probably inspired by A. L., but now some code can probably be used for ideas.

[2021-12-30 17:23] IzzySoft commented on #2
Nope, updates/releases happen automatically. But after a quick look at the metadata of this app: If you want graphics, you need to establish [Fastlane structures](https://gitlab.com/snippets/1895688) here in your app's repo. Once that's done and tagged (I can give it a quick check before tagging if you like), we need to update metadata on our end to make clear it shall be taken from Fastlane. If w

[2021-12-30 18:36] drogga commented on #2
@IzzySoft, @butzist should look at this, since I don't understand the matter that much.
Thanks for the input.

[2021-12-30 20:28] IzzySoft commented on #2
It's not that hard actually, @drogga – just a structure to put files into, like in #101 :smiley:

[2021-12-31 07:53] butzist commented on #2
@drogga @IzzySoft This ticket is actually about launching private activities. We have ticket #53 addressing F-Droid listing.

[2021-12-31 07:54] butzist commented on #2
@drogga Please create a new ticket for you layout issue

[2021-12-31 08:00] butzist commented on #2
@drogga Adressing here only the points related to this ticket

I'm marking activites as "private" that are `!exported || !enabled`. Does that make sense to you? Are you able to start both via su?

[2021-12-31 08:03] butzist commented on #53
Moved comments from #2 by @IzzySoft:

Nope, updates/releases happen automatically. But after a quick look at the metadata of this app: If you want graphics, you need to establish Fastlane structures here in your app's repo. Once that's done and tagged (I can give it a quick check before tagging if you like), we need to update metadata on our end to make clear it shall be taken from Fastlane. If we

[2021-12-31 08:05] butzist commented on #53
@IzzySoft As mentioned in #101, the more difficult part is to update the fastlane structure from our translations on Crowdin. Managing 37 translations is quite time consuming if not automated ;)

[2021-12-31 08:07] butzist opened #102 "Blue status bar"
Moved from #2

The blue status bar and the fact that it can't be expanded to the notch area honestly makes the app look not great, especially on taller screens with 18.5:9 aspect ratio, I think that in code is called Action Bar, but I'm not sure, so you should probably look for that

[2021-12-31 08:08] butzist commented on #102
@drogga I cannot reproduce this in Android Emulator with API 19, 21, and 30. Please provide screenshots and possibly a PR.

[2021-12-31 09:39] drogga commented on #102
![Screenshot_20211231-113640_Activity Launcher](https://user-images.githubusercontent.com/53332345/147815777-5da8e896-babb-4ca6-ab63-ed60b0bcb2df.png)

[2021-12-31 09:42] butzist commented on #102
API version? Manufacturer?

[2021-12-31 09:49] drogga commented on #102
Samsung Galaxy S20 FE with API | SDK 30 = Android 11 (stock, no root), none of those matter, as I can install it on S20 with A.12 and S10 with A.11 and it will look exactly the same, also on other "modern" devices also with taller screens \ non-conventional aspect ratios from different brands, which I don't have on hand to test on currently, but I tested some time ago.

[2021-12-31 10:08] butzist commented on #102
Well, on my phone (LineageOS API 30) and all emulator versions it looks like this:

![Screenshot_1640944827](https://user-images.githubusercontent.com/2405792/147817315-214e0915-9fa4-4bc9-b67b-666c2bd1bbb2.png)

Can you try to find out where this odd color comes from?

[2021-12-31 10:21] drogga commented on #2
The orientation part I can fix in the manifest - directly, since it's easy, the other things I can't at this point, since they are beyond my skills.

Back in the day (few years ago) when I had working rooted devices on hand I used to play\experiment a lot and I believe as far as I can remember I was able to also start the disabled ones too [the ones with flag enabled="false"] via CMD > ADB in root

[2021-12-31 10:38] drogga commented on #102
That's a screenshot from LineageOS 18.1 (A.11 R = API 30) on Samsung Galaxy S4 mini (GT-i9195):

![Screenshot_20211231-122708_Activity_Launcher](https://user-images.githubusercontent.com/53332345/147818545-53f97881-0df5-42f0-9ab0-4fd9e14fce1a.png)

Unfortunately No, I don't know the code, or how to code, just how to do some modifications over already compiled .apk, a few months ago I played with t

[2021-12-31 10:45] drogga commented on #2
@butzist
The orientation part I can fix in the manifest - directly, since it's easy, just tell me if you it's ok to do it by directly editing the Manifest, because I can't create PR's at this point, since I don't have the time (holidays and so on, also I'm at work), the other things I can't at this point, since they are beyond my skills.

Back in the day (few years ago) when I had working rooted d

[2021-12-31 12:47] IzzySoft commented on #2
Moved my part already to a PR, and will unsubscribe from this issue now. Apologies I simply responded to the ping, but I'm pinged so often that I don't have time to read the entire threads each time but can only concentrate on what I was asked for… Signing off here then, and all the best!

[2021-12-31 12:50] IzzySoft commented on #53
Sure, see my answer in the PR (and yes, at F-Droid that's done automatically as well and synced in from Weblate). I'm not the one handling that part and never dug into that, so I won't be much help here. Nevertheless, I've outlined a rough idea in the PR. Hopefully it's not too difficult to implement.

[2022-01-01 06:09] rayhantajichalt opened #103 "won't open most activities without root"
in previous versions, i can open any activity without root permission.
but today i encountered this after update...
![Screenshot_20220101-130509_Activity Launcher](https://user-images.githubusercontent.com/35326882/147844992-303fcdb1-1dc0-42a3-9032-e81da28ca84a.jpg)
it said : cannot run program "su" - no such file or directory
now most activities that previously can open, cannot be opened.

device

[2022-01-01 07:33] butzist commented on #103
You can use the context menu and start as non-root. Unexported or disabled activities are started as root by default.
In the future, we could add a root detection, to restore the old behaviour, if no su is found. What do you think?

[2022-01-01 10:42] butzist commented on #2
@drogga  I just pushed a new version that allow creation of shortcuts for private activities. Would be happy about feedback.
Disclaimer: I'm not happy with the UX of the whole app - but then I don't have time and skill to polish the layout and workflows in the app...

[2022-01-01 10:56] butzist opened #104 "Improve design/usability of app"
The usability and design of the whole app is suboptimal - in particular the new features for starting private activities make the application difficult to understand. As I don't have the time&skill to fix it, we're looking for someone with UI/UX experience to join the project create a new design, or implement it directly.

[2022-01-01 11:59] Ethicalabhishek commented on #51
Hello
I can translate in Hindi .....
email:- dev@abhishek.icu

[2022-01-01 14:56] drogga commented on #103
@rayhantajichalt probably clicked on the ones with padlock icon, which are the ones that require root as this icon means that the activity is a private unexported one, which makes this issue invalid and if not proven otherwise - it will be closed.
(Tested with the latest build from the Action's workflows - v1.13.3 Build 27 - no such issue with the "normal" activities)

Did you changed the samsung'

[2022-01-01 15:59] drogga commented on #2
Nice, I can test those with root after 2-3 days.

In the meantime, I could not notice that you keep mentioning (in code, What's New, changelogs, 1 recent comment, etc.) about the "disabled" private ones, but those are not listed, hence/therefore not currently launchable by this app, so please don't confuse the ones with flag exported="false" (which Are listed and launch-able), with the enabled="fa

[2022-01-01 16:27] tamilan007 commented on #103
@rayhantajichalt
Sir it is a nice feature though
Some activities in launcher can lead to factory reset or some problems (if user have root atleast they could know what could the activities do)
Don't ask me how to do
Btw i am a root user

[2022-01-01 16:33] drogga commented on #103
@tamilan007
Can you pls test the root shortcuts and then deny/forbid the root access for A. L. and test tge regular activities in order to confirm that the OP's statement is invalid ?

[2022-01-01 16:45] tamilan007 commented on #103
@drogga  sir sorry for late reply i have my notification turned off
I have a work managed device when i try to open work setup from activity launcher
It will create teo work profiles
Unfortunately it will hang the system in nect reboot and force us to factory reset
By rescue party api

[2022-01-01 16:48] tamilan007 commented on #103
@drogga please simpler terms while speaking i am not a great understandder of english

[2022-01-01 16:56] tamilan007 commented on #103
@drogga ok thanks maybe helpful if allow access system apps for root users only

[2022-01-01 17:52] butzist commented on #103
@tamilan007 Are you suggesting to introduce a blacklist of activities that should be forbidden from ActivityLauncher?

[2022-01-01 17:58] butzist commented on #2
@drogga The app is listing activities that are either disabled or not exported as "private", and thus tries to start them as root by default. What do you suggest to change?

[2022-01-02 05:54] tamilan007 commented on #103
@butzist  yes sir it can be only access to root user only
We are beleiving that root users will have more responsibility than others
And have some idea what they are dealing with (this is not a character of general users if they mess with core system apps
We all know the result )

[2022-01-02 05:56] tamilan007 commented on #103
@butzist  maybe allow all activities to root users (i think all root users will have some knowledge 😅😅; because they rooted their phone )
Will have some knowledge to mess and not mess stuffs
!! in the end root users are solely responsible for their actions

[2022-01-02 10:31] butzist commented on #103
@tamilan007  I added a root/su detection to the app  Now the options for launching activities as root should be hidden on non-rooted phones. Closing this ticket.

[2022-01-02 10:31] #103 closed

[2022-01-02 10:37] butzist commented on #2
Added root/su detection to the app. Now these options will only appear for rooted OSes.

[2022-01-02 21:18] drogga commented on #2
I don't like that last part/change.
I understand the idea and point behind this decision and that the it doesn't have much sense for the root options to show when there's no root, but what if there's a toggle option to show/list them anyway, only the root options are hidden when no root is detected, while still listing those usually hidden activities and/or a pop-up dialog or toast message shows/p

[2022-01-02 21:23] butzist commented on #2
This is pretty much what I implemented. If no root is available, it will still show all activities, but possibly fail starting them.

[2022-01-02 21:27] drogga commented on #2
Ok, I rushed a bit it seems, also I edited the comment in order to explain it better, you should reRead it.
What about Shizuku, can the support be added ?
(Disclosure - I haven't tested the latest build)

[2022-01-02 21:44] butzist commented on #2
What's Shizuku?

[2022-01-02 21:59] drogga commented on #2
https://github.com/RikkaApps/Shizuku-API
https://github.com/RikkaApps/Shizuku

[2022-01-02 22:13] butzist commented on #2
Looks like a bigger change - let's create a separate ticket for it and mark as "need help". Maybe someone creates a PR before I have time to look into it.

[2022-01-02 22:15] drogga commented on #2
Ok, I will let you create it ;)

[2022-01-02 23:13] intellis-dev commented on #51
Hi I'm interested in contributing to this project,
I have experience on developing Android apps and publishing them.I also have worked with GitHub actions for running a cron job to update database.
I have few ideas on how we can improve this app
And coming to transalations,
I have not worked on it.

[2022-01-02 23:20] drogga commented on #51
@intellis-dev Feel free to share your ideas and create PR, then we will see...

[2022-01-03 06:56] butzist commented on #51
@intellis-dev That sounds great! We are open to new ideas for improving the app. In particular, I think the usability (UI/UX) of the app could be improved e.g. instead of context menu, navigate to a new summary/editing page that allows execution of all actions.

Regarding translations, the only thing we need, is someone proof-reading the translations on Crowdin and then creating a PR with the upda

[2022-01-03 07:07] butzist commented on #102
Hi @ismael034, I tested your PR and the dark mode still looks correct on my device and in emulator - unfortunately the light mode has too little contrast. In general, I would prefer to not override colors and use the system palette wherever possible.

![Screenshot_1641193482](https://user-images.githubusercontent.com/2405792/147906265-0fd9fc1c-9e31-4296-bd68-5dc940c0ae7e.png)

[2022-01-03 09:14] drogga commented on #104
What exactly do you mean by this, can you explain it better with more details, point to a example or show a concept image or something ?

[2022-01-03 09:21] drogga opened #107 "Implementing Shizuku in order to launch unexported and disabled activities"
Help needed for implementing Shizuku in order to launch unexported and/or disabled activities without root {if even possible}

https://github.com/RikkaApps/Shizuku-API
https://github.com/RikkaApps/Shizuku

[2022-01-03 09:40] Ismael034 commented on #102
Hi,

I have made some changes in the code to reduce the blackness of disabled elements on the list. The `colorAccent` hasn't been touch so (for example) the lock icon color will change depending on the system settings pallete. My change basically affects the status bar in terms of pallete system colors.

Thanks!

[2022-01-03 09:45] drogga commented on #2
It turns out that now the Search also looks in the icon name path, instead of only activities titles and names, but it shouldn't (Activity Manager {by sdex} and 4A Package Browaer do not, which is better).

As I mentioned multiple times - the disabled public and/or private activities are still not listed, you can easily check this by installing 4A Package Browser, going to the "Settings" app (by s

[2022-01-03 10:04] drogga commented on #102
@Ismael034 I will be testing, since I reported the issue {but didn't actually opened it}, but unfortunately I can't produce, compile / build a .apk artifact file, please check the PR where I explained and help if you can, butzist still didn't replied, maybe he forgot or is busy.
(You can even enable the actions in your fork and build a artifact .apk file, so I can DL to test it, or share some deta

[2022-01-03 10:07] drogga commented on #51
@butzist Please enable the repp'a "discussions" tab.
Thank You.

[2022-01-03 10:15] drogga commented on #102
I will soon try to upload my take (mod) of v.1.9.2 .apk and screenshots, which looks and works perfectly, so you both can check what I did and get some ideas of what can be achieved by some simple edits, without the need of major UI/UX/Layout revamp.

[2022-01-03 10:18] Ismael034 commented on #102
I havent used github actions at all but just to make sure, you want github actions to generate an apk an be able to download it right?

[2022-01-03 10:19] drogga commented on #102
YES !

[2022-01-03 10:33] Ismael034 commented on #102
I am trying to set up actions/upload-artifact@v2 and download-artifact@v2. Lets see if it works

[2022-01-03 10:37] drogga commented on #102
IDK too... (more on this in the PR ‐>)

[2022-01-03 11:56] KastenTop commented on #104
I.e material design 2 style. You know, bottom bar, rounded elements

[2022-01-03 14:08] butzist commented on #2
Hey @drogga, since when are you missing those activities?
Is it possible that it was introduced with https://github.com/butzist/ActivityLauncher/pull/79 ?

[2022-01-03 17:13] intellis-dev commented on #51
@butzist
Can we connect and discuss about this and when we are going to start development

[2022-01-04 13:48] tamilan007 commented on #104
Can you reduce the timing of app loading
#request#suggestion
It irrates every time it reloads after doing long job and coming back

[2022-01-05 02:46] JordiGP1 opened #109 "Storage not found in MIUI 13 / Android 12"
com.android.settings.Settings$StorageDashboardActivity not found in MIUI 13 / Android 12

[2022-01-05 05:35] butzist commented on #109
This is with version 1.13.5 on Android 11 (LineageOS):

![Screenshot_20220105-063356_Activity_Launcher](https://user-images.githubusercontent.com/2405792/148165753-950027ef-802f-4fc5-bc75-1a79a655e781.png)

Which app version are you using? Have you tried using the Search bar?

[2022-01-05 06:58] JordiGP1 commented on #109
I'm using version 1.13.5 on Android 12, with MIUI 13.
In Android 11 with MIUI 12.5 works ok.

The link apears, but not works ok, it's a black screen... (Sorry for my english...,i put a picture)

![Screenshot_2022-01-05-07-51-54-859_com miui securitycenter](https://user-images.githubusercontent.com/97140910/148173525-e29aafa1-9c86-4730-ae19-5a4d3294352e.jpg)
![Screenshot_2022-01-05-07-50-24-103_de

[2022-01-05 11:34] drogga commented on #109
@JordiGP1 - Not Activity Launcher's fault, we can't do anything about this, blame MIUI instead.
_(I will appreciate if power advanced users, that actually want to do stuff on their devices stop buying Chinese devices with crippled Firmware / ROM as all of those that have their own name for their forks of android and because of them people keep unnecessary writing pointless issues and give bad rati

[2022-01-05 11:40] drogga commented on #51
@butzist Please enable the repo's "discussions" tab.
Thank You.

[2022-01-05 12:37] butzist commented on #51
@drogga I created one discussion

[2022-01-05 13:01] drogga commented on #2
IDK, since forever, that's why I mentioned numbers of times that not all are listed _(like the disabled ones, this "shortcut" one is exactly that, as they don't want users to do something as simple as creating a shortcut to a setting, which wasn't the case years ago, anyway, I gave it just as an example)_, keep in mind that this is not only my issue.

I checked, even did a clean install - nothing'

[2022-01-05 13:41] drogga commented on #102
As I promised, here's my mod of v1.9.2, works perfectly on Android 11 _{it didn't allowed me to attach it as .apk, so I had to archive it in .zip}_:

[Activity Launcher (v.1.9.2 Build 17) {de.szalkowski.activitylauncher} [icon, rotation crash Fix + Dark Mod {by Me}] [4.0+] configChanges.zip](https://github.com/butzist/ActivityLauncher/files/7815266/Activity.Launcher.v.1.9.2.Build.17.de.szalkowski.

[2022-01-05 16:27] EndreEndi opened #111 "Blue lock"
Hi, what's the thing with the blue lock at 85% of the activities in the app?
How I can get over that and launch the activity anyway?
Thanks
Screenshots of what I mean:
![Screenshot_20220105-182620_Activity Launcher](https://user-images.githubusercontent.com/14347302/148252758-5d64ad46-9fe0-4b46-87e6-da08cbeca4e8.png)
![Screenshot_20220105-182603_Activity Launcher](https://user-images.githubusercon

[2022-01-05 16:38] butzist commented on #111
Those are "private" activities. Some of them will start, if you are lucky (e.g. DeveloperSettingsActivity in the Settings App).

Most private activities will require a rooted device, though. The latest update allows you to use root access, if you have it.

[2022-01-05 16:38] #111 closed

[2022-01-07 09:31] butzist commented on #109
@JordiGP1 Is you device rooted?
I'm not aware of any change in launching of activities - sure it's not due to an update in the settings app?

[2022-01-07 09:39] JordiGP1 commented on #109
No, my device is not rooted. I'm in weekly miui 13 on poco f3/ redmi k40.

El vie, 7 ene 2022 10:31, Adam M. Szalkowski ***@***.***>
escribió:

[2022-01-07 09:46] butzist commented on #109
Did you try with other apps that can start activities, ie https://play.google.com/store/apps/details?id=rk.android.app.shortcutmaker ?

[2022-01-07 10:17] JordiGP1 commented on #109
Yes, I did.

And not found. Do the same error.

El vie, 7 ene 2022 10:47, Adam M. Szalkowski ***@***.***>
escribió:

[2022-01-07 13:13] butzist commented on #109
Then I'm not sure how we could get it working - probably rather an issue with miui, right?

[2022-01-07 13:16] butzist commented on #109
Maybe someone with miui can try to play with the ActivityLauncher code and see if there is a way for starting this activity

[2022-01-07 20:13] Vasilisxiros opened #112 "Can't find stirage"
For about two weeks now, when I start the program, the storage option appears locked and there is no access to the storage. XIAOMI MIUI global stable 12.0.2

![Screenshot_2022-01-07-10-42-01-216_de szalkowski activitylauncher](https://user-images.githubusercontent.com/97313685/148601568-813533e9-45fd-49c4-85e2-cf34f049f5be.jpg)

[2022-01-08 08:48] butzist commented on #112
Duplicate of https://github.com/butzist/ActivityLauncher/issues/109

[2022-01-08 08:48] #112 closed

[2022-01-08 09:57] Vasilisxiros commented on #109
Same problem
![Screenshot_2022-01-07-10-42-01-216_de szalkowski activitylauncher](https://user-images.githubusercontent.com/97313685/148639984-64201d03-210f-4833-94be-b8a0ab1d05b2.jpg)

[2022-01-08 11:08] butzist commented on #2
We could try using the `pm` binary instead, for rooted devices. For locked ones, I'm not quite sure if we can retrieve some activities at all.

[2022-01-08 13:28] drogga commented on #2
It looks like apps like Alliance Shield X on Samsung can start most if not any activity, no matter if it's private, unexported and disabled, it uses device admin, owner and knox privileges, the same can be achieved by Shizuku, that's why I suggested it.

We know that they are no other ways, besides the 2 above, using ADB comands to launch some, or of course Root to start any of the activities that

[2022-01-08 13:31] butzist commented on #2
Let's try not to insult anyone 😉

[2022-01-08 13:35] butzist commented on #2
At the moment, I am not planning to implement more methods for listing and launching activities. If anyone wants to extend the app, send a PR. Closing this issue, because the main goal seems to have been achieved.

[2022-01-08 13:36] #2 closed

[2022-01-08 13:37] butzist commented on #109
You cannot start unexported activities without admin privileges (ie rooted phone)

[2022-01-08 13:42] drogga commented on #109
@Vasilisxiros You are probably trying to launch some of the private and unexported activities, those have a blue lock icon on them and require root in order to be launched, please do some reading, instead of writing pointless complains.
Can a other similar app that can list activities launch this exact activity - probably not, so why do you think that Activity Launcher can magically launch it ?, i

[2022-01-09 05:58] upintheairsheep opened #118 "Add cache"
Add caching the database to make it load faster. Don’t put it in the Android cache or code cache folder so it can be backed up. The cache can be enabled, disabled, or redo every time you install or update an app.

[2022-01-09 05:58] upintheairsheep opened #119 "Fix search icon"
It looks ugly right now.

[2022-01-09 06:00] upintheairsheep opened #120 "Add settings menu"
1. Enable or disable private activities
2. Set light/dark/device default mode
3. Set if cache is enabled or disabled
4. Clear cache

[2022-01-09 07:37] butzist commented on #119
Already taken care of by https://github.com/butzist/ActivityLauncher/pull/108

[2022-01-09 07:37] #119 closed

[2022-01-09 07:39] butzist commented on #118
Duplicate of #68

[2022-01-09 07:39] #118 closed

[2022-01-09 07:40] butzist commented on #120
Currently being worked on by @Ismael034

[2022-01-12 14:34] RozvM opened #122 "Change language within app"
It would be nice to have the ability to change the language just for the application and not for the whole OS.

[2022-01-12 18:17] butzist commented on #122
Is being worked on by @Ismael034  in context of #121. Would you like to test?

[2022-01-12 19:50] RozvM commented on #122
Yes please!

[2022-01-12 19:53] Ismael034 commented on #122
Please note that the config menu is not finished yet so there are some issues. You can get the APK from the actions page in this repo

[2022-01-12 19:57] butzist commented on #122
Just note that the debug builds have a different signature than the release, i.e. Android will warn about resettig the apps preferences on installation.

[2022-01-14 20:26] RozvM commented on #122
Thanks for the help!
Can I leave feedback about the debug build somewhere?

[2022-01-14 21:19] butzist commented on #122
You can do here or on Gitter, of you like

[2022-01-16 08:47] bzz11g opened #124 "Add the ability to launch an activity through a quick shortcut in the application"
Hi Adam!
The title may seem obscure or even stupid, but I will try to explain what feature I am asking for and why it is useful
To begin with, English is not my native language, so my expressions may seem strange
Now I have a Google Pixel 6 and it has a wonderful feature "Quick Tap" (Settings > System > Gestures)  this feature allows you to double-tap on the back panel to launch one of the preset

[2022-01-16 09:05] butzist commented on #124
I see what you mean - could be done in a similar way to the RootLauncherActivity, with the activity to-be-started set in preferences. Who wants to implement this?

[2022-01-21 16:34] finnzz opened #127 "Shortcut to remote ADB command?"
World it be possible to use ActivityLauncher to make a shortcut to an ADB command that is run on a remote device?

For example using ActivityLauncher with Remote ADB Shell to make a shortcut that runs an ADB command through Remote ADB Shell?

Or some other app that would make such a thing possible?

And without root access.

[2022-01-23 09:11] butzist commented on #127
tbh, I see such a feature more in an application like [Shortcut Maker](https://play.google.com/store/apps/details?id=rk.android.app.shortcutmaker&hl=en&gl=US)

[2022-01-23 09:11] #127 closed

[2022-01-23 09:12] butzist commented on #124
tbh, I see such a feature more in an application like [Shortcut Maker](https://play.google.com/store/apps/details?id=rk.android.app.shortcutmaker&hl=en&gl=US). Will close, as there does not seem to be anyone willing to implement this.

[2022-01-23 09:12] #124 closed

[2022-01-23 09:12] butzist commented on #102
Should be fixed in latest master/beta version - reopen if not

[2022-01-23 09:12] #102 closed

[2022-01-23 09:13] butzist commented on #120
Implemented in latest master/beta version

[2022-01-23 09:13] #120 closed

[2022-01-23 09:13] butzist commented on #122
Implemented in latest master/beta version

[2022-01-23 09:13] #122 closed

[2022-01-23 13:37] finnzz commented on #127
Thank you for the response.  I went ahead and gave Shortcut Maker another try.  I'll have to play with it around a bit to see if I can get it to make a connection with an app l like remote ADB Shell.

[2022-01-24 01:20] foxtrotzer0 opened #129 "Can't Create Shortcut"
I'm on Android 11 using a Xiaomi device. Unfortunately, I can't create shortcuts even if I edit the name and change the icon. I hope someday would be able to help me. Thank you!

[2022-01-24 03:12] AbhiTheModder commented on #100
Nice 👍.....very good idea

[2022-01-24 03:17] AbhiTheModder opened #130 "Full hindi translated"
I Seen The Hindi translation is incomplete band also with many errors. I've translated them all in right way kindly check the Crowdin project. Or if XML file needed then I've that also ping me if needed or see Crowdin

Thanks 😊

[2022-01-24 03:29] AbhiTheModder commented on #109
@drogga and @butzist  sir you're right that those with blue tick require root/admin privileges
But there are other also which without blue tick but they also can't be opened.

I know the reason also as an reverse engineer I seen all the components of this app it's definitely awesome coded 🔥 and reason behind not opening those are that your app detects hidden launch activity of apps also and those

[2022-01-24 15:51] drogga commented on #129
On the app info screen you should have an extra permissions screen where you should allow the shortcuts creation, I don't think it's the app's fault, if I'm right please close this issue yourself or at least reply that it worked so we can close it.

Alternatively, you can try with other similar apps and let us know if A.L. still can't create one, but others do ;)

[2022-01-24 17:27] the4anoni opened #131 "Support for Android TV"
Hi
Like in topic. Activity launcher doesn't show up as app on my android tv box (Canal+ Box 4k) stock launcher, to run it I need Sideload launcher or LeanbackOnFire. Also google play doesn't let me download it on my tv box.
![screen](https://user-images.githubusercontent.com/13403084/150833343-286e81e7-fcd7-4236-98a7-46209df2e19f.png)

App works fine, with workarounds mentioned above, and sideload

[2022-01-26 11:30] Ismael034 commented on #130
Thanks! Your translations will be included in the next beta release. Feel free to contribute when new translations are added.

[2022-01-26 11:30] #130 closed

[2022-01-26 11:43] Ismael034 commented on #131
Hi @the4anoni
The reason you are not able to install the app via Play Store is that the it has not been design to work with Android TV. Android TV requires an additional review to validate [TV App Quality](https://developer.android.com/docs/quality-guidelines/tv-app-quality).

We might add support for Android TV soon as I dont think it will require a lot of changes. Also feel free to create a Pull

[2022-01-27 08:06] drogga commented on #129
@foxtrotzer0
On the app info screen you should have an extra permissions screen where you should allow the shortcuts creation, I don't think it's the app's fault, if I'm right please close this issue yourself or at least reply that it worked so we can close it.

Alternatively, you can try with other similar apps and let us know if A.L. still can't create one, but others do ;)

[2022-01-30 12:56] Tanayout opened #132 "ธนายุทธ"

[2022-01-30 13:26] #132 closed

[2022-02-04 15:19] drogga commented on #124
@bzz11g
The activity you are trying to launch is private, at lease on Lineage 18.1 (Android 11), but if it's not for you and you can launch it with A.L., then a app can be created to launch it, which you can then select \ pick in the Quick Tap, or just try [TapTap](http://github.com/KieronQuinn/TapTap) , but again - it probably won't work if the activity is private or disabled and you don't have r

[2022-02-05 11:55] 170031449 opened #135 "Couldn't able to create dual app and second space"

[2022-02-05 13:59] drogga commented on #135
@170031449 Add more details in the OP and don't use only subject title, or I.'m closing this, simply because I also think that is invalid and not related to the project.

[2022-02-15 05:57] #135 closed

[2022-02-15 07:26] #129 closed

[2022-02-16 02:31] darkj2k commented on #131
I second this. There are lots hidden activities on  Android TV from different TV brands. Activity Launcher is so useful for this situation. Even Android TV can't support activities creation right now, I can still use it to find out and launch these activities. Making it support Android TV officially will be great. Support activities creation on Android TV will be even great. Maybe like TV App Repo

[2022-02-16 08:21] drogga commented on #131
@darkj2k
Making it appear in the leanback launcher with a banner is easy, I can probably do this right now if I had time, but fully supporting a navigation with a remote arrows in order to click menu buttons is another thing...
Leanback doesn't support shortcuts creation and it probably never will...
Compiling a companion (shortcut) app, just to launch another app is not the way, so I don't see a

[2022-02-16 08:22] Ismael034 commented on #131
Hi,
So the main issue with adding support for Android tv is getting it uploaded to the play store as it would require a complete redesign, add remote functionality, etc... which is a ton of work.

For now, we can enable the launcher icon so it wouldn't be necessary to use a third party launcher to launch the app. Sideloading would be still be necessary to install/update the app.

[2022-02-21 06:07] butzist commented on #100
If you want to help, then create a PR that updates the READMW with links to tutorials

[2022-02-21 06:12] butzist commented on #131
Merged - will have to check in Play Dev console how to enable listing for TV.

[2022-02-24 19:23] VladWinner opened #142 "Search and revert all changes made by the Russian community"
@butzist If you are against the open source policy and prefer to remove Russian localization due to the foreign policy situation, then you should be consistent and also remove all the fixes that Russian users have brought to your app.
I just found one commit from a Russian user especially for you (https://github.com/butzist/ActivityLauncher/pull/52), check the other commits yourself if it's more i

[2022-02-24 20:22] #142 closed

[2022-02-25 11:41] AbhiTheModder commented on #100
Can you please tell full form of PR ?

[2022-02-26 04:55] Praju8K opened #143 "Facing issue with the interface"
While locking the apps,  I have masked up the apps and also this main app Application Launcher.  Due to while all this apps are invisible to me and I am not able to unmask. Please help me asap

[2022-02-26 07:18] drogga commented on #143
@Praju8K
I have no idea what you just wrote..., I can't understand you, please elaborate, even better - post a screenshot and (or) a video recording.

[2022-03-07 07:16] #143 closed

[2022-03-08 00:41] juank6883y opened #144 "App malfunctions on Xiaomi MIUI"
Hello, I need to make a format as internal storage with the SD card of my cell phone, but the problem I have with the "ActivityLauncher" application is that when I go to the "Storage Options" option, the application itself stops. I and other users know very well how embarrassing and annoying this aforementioned error can be with this app, so please troubleshoot and fix this error in the app for th

[2022-03-08 09:37] drogga commented on #144
Does only A.L. freezes, or other similar app do too?
Anyway, we can't reproduce, since we don't have Xiaomi, Huawei, Oppo or other of those purely Chinese brand devices to test on, also they don't want you to have access to those options, that's why they hide it, but you left the activities, then users realized that they still can be launched via the activity with apps like this one, but then did

[2022-03-08 20:01] juank6883y commented on #144
Hola, para empezar estoy utilizando un teléfono Xiaomi con las siguientes
especificaciones:
Nombre: Redmi Note 8
Versión MIUI: MIUI Global 12.5.1 Estable
Versión de Android: 11 RKQ1.201004.002
Modelo: M1908C3JH
Adjuntaré pantallazos para mostrarte con claridad cual es el error en la
aplicación ActivityLauncher (aclaro que solamente está aplicación se
congela, las demás sí funcionan correctamente).

[2022-03-08 22:13] drogga commented on #144
You didn't attached any video recording of the screen (I don't need a screenshot), also, the device language must be set to English, because if you only set the app lang. to EN, the activities will still be named in the device's interface language.

Which other similar activity launchers did you tried ?, because to me it seems like a problem with the device's firmware/ROM and not with this app (ju

[2022-03-10 07:54] Ismael034 commented on #144
This seems like its not a bug of Activity Launcher. Lunching single activties can cause the app to malfunction. We can do anything to fix that

[2022-03-10 08:33] #144 closed

[2022-03-12 07:30] Vasyan41 commented on #109
Здравствуйте, проблема с miui13 Android 12 совсем не показывает в папке архив что бы произвести действие очистки кеша. На андроид 11 проблем не испытывал.

[2022-03-12 08:15] AbhiTheModder commented on #109
Не могли бы вы поделиться несколькими скриншотами, которые будут более информативнымиFrom: Vasyan41Sent: 12 March 2022 01:00 PMTo: butzist/ActivityLauncherCc: AbhiTheModder; CommentSubject: Re: [butzist/ActivityLauncher] Storage not found in MIUI 13 / Android 12 (Issue #109) Здравствуйте, проблема с miui13 Android 12 совсем не показывает в папке архив что бы произвести действие очистки кеша. На ан

[2022-03-12 08:29] #109 closed

[2022-03-16 18:24] Lenni-builder opened #146 "All shortcuts gone"
Since the last updates all my shortcuts are gone. Please try to bring them back

[2022-03-18 07:35] kuhviktor2101 opened #147 "Не работае очистка Кеша,в меню хранилище,после обновления до муи 13"
Не работает очистка хранилища,кэша,после обновления до муи 13!!!!

[2022-03-18 08:20] #147 closed

[2022-03-18 08:21] butzist commented on #146
Please elaborate

[2022-03-19 22:14] ghost opened #148 "bypass non exported activity"
I'm found some method to bypass system restriction that prevent non exported activity being launched by others:
https://blog.oversecured.com/Android-Access-to-app-protected-components/

if that possible please implement them on the activity launcher

this bypass causing user can launch non exported activity without rooting

[2022-03-20 08:50] #131 closed

[2022-03-20 08:51] butzist commented on #148
Interesting approach - unfortunately, I'm not interested in implementing this myself, because I have su available on my devices. Anyone?

[2022-03-20 09:04] NSTAdventure commented on #148
pls do not close this issues

i hope someone will take assignment for this?

[2022-03-20 10:40] drogga commented on #148
@butzist - I don't have root access, nowadays it doesn't worth it (it's pointless), especially on samsung, as it's not as simple as flashing a custom recovery and then Magisk, so this will be really nice for someone to implement, or Shizuku...

@NSTAdventure - Nice one, I hope too... ;)

[2022-03-25 13:42] VladWinner commented on #142
@butzist https://opensource.org/blog/open-source-protestware-harms-open-source

[2022-03-25 20:49] JajulaUdaySai opened #149 "Not able to unlock/lock/Mask application"
Using App lock, applications which are locked previously are not able to unlock
![Screenshot_20220326-021416_Activity Launcher](https://user-images.githubusercontent.com/37185777/160198770-4cf8de4c-fd29-4091-b1db-e75f133ae65d.jpg)

and applications masked are also not visible to unmask
![Screenshot_20220326-021426_App Lock](https://user-images.githubusercontent.com/37185777/160198551-143e7d01-b02c

[2022-03-25 21:03] JajulaUdaySai commented on #149
While trying to access app lock, it's showing following error on screen, please anyone solve this issue, for testing I have locked my very important application, and now not able to find solution
![Screenshot_20220326-022730_Activity Launcher](https://user-images.githubusercontent.com/37185777/160200357-8fc95cfb-7878-4cc6-bdb6-c3a36b5fb3fc.jpg)

[2022-03-26 08:37] #149 closed

[2022-03-30 04:07] JajulaUdaySai opened #150 "Getting Error"
Getting error while accessing App Lock

![Screenshot_20220330-093330_Activity Launcher](https://user-images.githubusercontent.com/37185777/160749309-cfab9ee2-18b5-46fd-961d-bee852c1c125.jpg)

[2022-03-30 11:21] #150 closed

[2022-04-01 06:42] segashots opened #151 "After the latest update, whenever I'm launching the storage activity it's not working"
![Screenshot_2022-04-01-12-10-47-936_com android settings jpg](https://user-images.githubusercontent.com/102787387/161209495-043572d2-6e95-4819-9d97-0a00598f9a9a.png)
Only blank screen is appearing :/

[2022-04-01 14:07] #151 closed

[2022-04-01 19:19] JajulaUdaySai commented on #150
@drogga , is the fix going to come in next update? If yes can you please let me know expected update days because I have masked and locked many important apps, which I am not able to unmask and remove lock

[2022-04-01 19:19] JajulaUdaySai commented on #150
@drogga , is the fix going to come in next update? If yes can you please let me know expected update days because I have masked and locked many important apps, which I am not able to unmask and remove lock

[2022-04-02 15:54] drogga commented on #150
@JajulaUdaySai
Those activities are private (there's a icon on them), that's why you get that toast msg., they are not meant to be launched that way and you shouldn't poke things you don't understand, A.L. is not for "anybody", nor you should hold anyone responsible for the mistakes you make with it, or expect someone to "debug" your device, that's why there's a disclaimer message when you launch

[2022-04-02 16:00] drogga commented on #150
@JajulaUdaySai
Those activities are private (there's a padlock icon on them), that's why you get that toast msg., they are not meant to be launched that way and you shouldn't poke things you don't understand, A.L. is not for "anybody", nor you should hold anyone responsible for the mistakes you make with it, or expect someone to "debug" your device, that's why there's a disclaimer message when you

[2022-04-13 02:45] NSTAdventure commented on #148
@drogga
@butzist

I'm found alternative method
using virtual environment like [BlackBox](Github.com/FBLackbox/Blackbox)
but VE still have caveats proceed with caution.
so i hope you guys still considering my idea above waiting for assignment

discussion
#152

[2022-04-14 13:40] opk12 opened #153 "Load icon from file"
I want to choose a custom icon from a file. Pasting the path in the `Icon` field does not work. I am not familiar with Android development, but someone posted this on a forum, if it can help.

`intent.putExtra(Intent.EXTRA_SHORTCUT_ICON, android.graphics.BitmapFactory.decodeFile(icon_path));`

[2022-04-14 13:41] opk12 opened #154 "Support `setData()`"
I want to work around a Matrix Element bug in making shortcuts; I want to choose a custom icon for a shortcut to Firefox Fennec.

I can do both with this app, if it lets me `setData()` to a custom URI (and supports custom icons per #153).

[code]

[2022-05-06 19:07] Sbiz85 opened #155 "App launcher stopped working"
I had a email app launcher shortcut on my android home screen that would open the recently open apps + keyboard.

Today (May 6 '22) I quit and restarted my phone and suddenly the icon is dead. I've never experienced that before. It says "shortcut isn't available." I can't seem to get it to do what it used to do.

I wanted to let y'all know in case it's happening to others. Thank you for your work!

[2022-05-19 04:48] ROGALPHA74 opened #156 "App Vault"
not showing the shortcut for 'PickerHomeActivity' on homescreen, anyone can help

[2022-05-19 11:06] Jake0071945 opened #157 "Storage dashboard stopped working"
The storage dashboard with which i clean cache data stopped working after updating to miui 13.0.4 it worked in Android 11 but after updating to Android 12 the shortcut and the the option itself don't work anymore Pls try to fix it as the storage management is bad in redmi.

[2022-05-20 16:18] Raden16 opened #158 "Masalah"
Tidak bisa menggunakan wedget

[2022-05-25 11:01] #158 closed

[2022-05-25 11:01] #157 closed

[2022-05-25 11:02] #156 closed

[2022-06-03 20:48] lukmangjo commented on #155
`#155`

[2022-06-03 20:49] lukmangjo commented on #155
[https://github.com/butzist/ActivityLauncher/issues/155#issue-1228299967](jo0823305347@gmail.com) #154

[2022-06-20 23:03] Kroshboy commented on #51
https://github.com/butzist/ActivityLauncher/issues/51#issue-777667246

[2022-06-21 01:00] Nirmal4G commented on #51
@butzist I'm interested in maintaining build related code and improving CI and CD.

[2022-06-21 23:57] rajarshikhatua100 opened #160 "Search"
Please add search history in search bar

[2022-07-01 03:48] VolkDem777 opened #161 "display how the application is moved to the drive"
Hello 👋
I have been using this application for a long time and not so long ago I started having a problem with displaying the way to move to a memory card. Selected All applications, but there are no buttons to move the application.

[2022-07-01 11:24] drogga commented on #161
@VolkDem777 You mean a system's activity of a Chinese brand device that you used to be able to launch and now can't ?
...if YES, then this is not the app's fault (explained many times - in the closed issue tickets), the manufacturers doesn't want you to be able to do this, those activities are not fixed, they can change any time, like when you do updates, they are trying to kill-off the external S

[2022-07-07 10:18] DrimTim2020 opened #162 "Error with ru-rUA language"
And so I ran into a problem, first of all, reading the changes, I see that the ru-rUA language has been added!
But after installation, the program turned out to be in English.
I started digging and wanted to translate it already)), but as it turned out, after unpacking your program, I saw this is what I will indicate on the screen.
It turned out that the ru-rRU folder was not deleted and it contai

[2022-07-10 08:23] #161 closed

[2022-07-10 08:25] drogga commented on #162
@butzist ^

[2022-07-12 05:33] yashchutake opened #163 "Notification History Not Showing in Poco Phones"
Notification History Not Showing in Poco Phones

[2022-07-12 07:07] #163 closed

[2022-07-29 07:08] AlexRay21 opened #164 "Нет русского языка."
Прошу добавить русский язык.

[2022-07-31 06:55] #164 closed

[2022-08-21 09:27] armando13101995 opened #168 "Pbx11"
Pmsq
Pjf
J

[2022-08-21 09:28] #168 closed

[2022-08-25 11:01] Mianusama009 opened #169 "Realistic touch"
Realistic touch not working

[2022-08-25 13:14] drogga commented on #169
What's that?

[2022-08-25 13:30] drogga commented on #169
@Mianusama009
What's that ?

[2022-08-25 13:52] Mianusama009 commented on #169
Now how will it be installed?

On Thu, Aug 25, 2022, 6:30 PM drogga ***@***.***> wrote:

[2022-08-26 07:00] Mianusama009 commented on #169
Hello

[2022-08-26 07:04] Mianusama009 commented on #169
Hello sir

[2022-08-26 07:05] Mianusama009 commented on #169
Please tell me any solution

[2022-08-26 07:05] butzist commented on #162
Translations should be updates via Crowdin

[2022-08-26 07:05] #162 closed

[2022-08-26 08:31] DrimTim2020 commented on #162
It is not updated and does not work.
Read carefully what I described to begin with, and not what you are saying.

[code]

[2022-08-26 08:32] DrimTim2020 commented on #162
It is not updated and does not work.
Read carefully what I described to begin with, and not what you are saying.

[2022-08-26 11:07] DrimTim2020 commented on #162
@butzist
1) Russian-Ukrainian language is not in the program to select it.

https://user-images.githubusercontent.com/65110869/186890475-d58e4b34-b537-4992-bae6-e16435869e06.mp4

2) Delete the folder from the ru-rRU program, it contains the strings.txt file in English

[2022-08-26 13:05] Mianusama009 opened #170 "As soon as haptic feedback is used, it is not used, it is finished??????"

[2022-08-26 13:18] #170 closed

[2022-08-26 13:46] drogga commented on #170
@butzist I think that you should've straight up deleted this, just like the one from yesterday, that I commented on, asking "What's that ?"

[2022-08-26 14:12] drogga commented on #162
Indeed, here in the source (a bit different from what you see in the APK Editor) the "values-ru-rRU" contains only ENg strings, but that's basically the same with many others, where they are either partially translated (2-3 string lines, like values-bg-rBG), or fully in English, my opinion is that those should be removed and only added when and if they are fully translated, else they are pointless

[2022-08-26 14:25] DrimTim2020 commented on #162
I'm using the latest version from the Play store ( Activity launcher 1.14.4 ).
Everything that I described above in this post, after this procedure, the Russian-Ukrainian language is pulled up automatically from the ru-rUA folder, although it is not in the manual selection list.

[2022-08-26 15:02] drogga commented on #162
I'm not sure that the PS versions are that up to date, also ignore the versionName and versionCode as those are not necessarily being updated with every beta build (you can consider those as beta builds), I've DLed and installed the latest "Actions" build from couple of hours ago and there might not be a Russian, but there is "Украïнська (Украïна)" in the list of languages to select, in your video

[2022-08-26 15:15] DrimTim2020 commented on #162
I live in Ukraine and for me the language is both Ukrainian and Russian.
I own them equally.
But the preferred language is Russian .
The author indicated that he removed the Russian ru-rRU , but he did not delete the folder from the apk file and now the ru-rRU folder conflicts with the ru-rUA folder, and since the ru-rRU folder contains the strings.txt file in English, the ru-rUA language is not u

[2022-08-26 15:49] drogga commented on #162
The Russian lang. was removed and then added back, but since you claim that UKR is actually RU, instead of deleting the "values-ru-rRU" folder (that actually contains EN strings), the the "strings.xml" should be moved from "values-ru-rUA" to "values-ru-rRU", but there's also "values-uk-rUA", which confuses me even more and it's a mess with those 3 it seems.

Probably the "System Default" option is

[2022-08-26 16:04] DrimTim2020 commented on #162
You don’t understand, because you are probably Balgarin or your language is Balgar. so for me Balgar is gibberish)).
But everything is clear to me, and the place to be ru-rUA is the correct name of the folder, it should be so.
And the uk-rUA folder is a purely Ukrainian language and it also has a place to be.

[2022-08-26 16:24] drogga commented on #162
This lang. I pointed only as an example, because I clicked on to check out the strings, since is one of the lowest translation progress percentage, also you didn't wrote it correctly (both times), for me personally everything is in English and any extra lang. is pointless that only adds extra complexity (/bulk) and everything besides English is pointless, as everyone should know it and all program

[2022-08-26 16:38] DrimTim2020 commented on #162
Your presentation is absolutely wrong.
There is room for other languages.
And they don't take up that much space. 6 kilobytes of a translation file in your opinion takes up a lot of space. you are a joke though.
Maybe we're talking about different things?
Let's stop this?
I've never been wrong, everything I said was true.
You speak differently, so stop this balabolism over trifles.

[2022-08-26 16:43] drogga commented on #162
"I've never been wrong, everything I said was true."
:D, there's a first time for everything...

[2022-08-26 17:00] DrimTim2020 commented on #162
Maybe you have it.
I have no !
In order to understand, you need to study the history of Ukraine and where two languages ​​such as Russian and Ukrainian came from.
These two languages ​​originated in the same Ukraine. According to history, there was once Kievan Rus, then the Russian language was born, at the moment Kyiv is Ukraine.
Both Russian and Ukrainian are both languages ​​that are and will a

[2022-08-26 17:01] DrimTim2020 commented on #162
Maybe you have it.
I have no !
In order to understand, you need to study the history of Ukraine and where two languages ​​such as Russian and Ukrainian came from.
These two languages ​​originated in the same Ukraine. According to history, there was once Kievan Rus, then the Russian language was born, at the moment Kyiv is Ukraine.
Both Russian and Ukrainian are both languages ​​that are and will a

[2022-09-07 01:50] Grendel66 opened #171 "Shortcuts broken in Android 13"
While activities launch fine out of the Activity Launcher app, created shortcuts just pop up an "App isn't installed." toast message in Android 13. Same behavior using Pixel or Nova launchers.

[2022-09-07 18:13] ghoff commented on #171
Lots of shortcuts still work.  An example of one that does not work for me on a Pixel 6 with Android 13 is System Update within Google Play services.  Launching the activity from within Activity Launcher works fine.  Trying to use a shortcut results in the mentioned error.

[2022-09-11 04:02] iavael commented on #162
@drogga
1. Russian and Ukranian languages are different languages with same roots.
Russian-speakers will not understand Ukrainian (at least without significant effort and lots of mistakes).
2. Even if you want to punish russian citizens, remember that only half of people with native or second Russian actually live in Russia (around 130 mil of 260 mil). There are many people who live in exUSSR (Kaz

[2022-09-11 06:03] DrimTim2020 commented on #162
Yes, you stated everything correctly, but you didn’t understand, no one refused the language, it’s just the wildest mistake in the package)).
They just had to delete the ru-rRU folder from the application.
And in the place of this folder there is a folder with ru-rUA in it there is a Russian language.
And since the ru-rRU folder contains the string.txt file in English, the system still thinks that

[2022-09-12 17:04] borobabe opened #172 "Nokia T10 Tablet Issue"
Device: Nokia T10 Tablet, running Android 12, with no root or other modifications.

Hello all.  I'm trying to use Activity Launcher to set my SD card as internal storage. However, I'm not certain as to which option I need to set to do this.  Some options seem to be locked, and I get java errors preventing them from starting.  Can someone guide me with what steps I need to take, or if another app m

[2022-09-14 12:34] iqfareez opened #173 "Can't create activity shortcut"
**Steps to reproduce:**
1. Launch app
1. Select activity
1. Tap create shortcut

**Expected behaviour:**
Shortcut is created in the homescren

**Actual behaviour:**
Creating shorcut toast appear. But the shortcut was never created.

**Video:**

https://user-images.githubusercontent.com/60868965/190152243-d310e76e-22b1-4004-9928-7582b6183355.mp4

**Configuration**
- Android 11
- Xiaomi Redmi Note 1

[2022-09-14 16:14] edgard116 commented on #51
Why ejecuta setting is so complicated now.   Triste is development or q?? Pleasy donde do this thing bigger and useless. Is so boring on this  days to do any configuration....

[2022-09-17 09:18] drogga commented on #173
The second screenshot - this isn't the correct menu you should be looking for, this is just a list of the available permissions in the manifest, you need to better explore and get to know your device, the menu you need is a totally diff. one !

[2022-09-17 09:21] drogga commented on #172
Those are private activities, you need to have root access !
Blame the manufacturer and Google.

[2022-09-17 09:26] drogga commented on #171
As and if I understand correctly, you ve updated from 12 to 13 (huge mistake) and now you are complaining that the previously created activities shortcuts on A.12 no longer work on 13, well you cam blame Google and the manufacturer, because those are dynamic and can change any moment.

[2022-09-23 10:28] heftig commented on #171
No, even newly created shortcuts do not work.

Launching "Phone info" (`com.android.phone.settings.RadioInfo`) from Activity Launcher's activity works, but a shortcut created for it is broken.

[2022-09-23 10:51] drogga commented on #171
@heftig You mean it's created, but trying to launch the activity from it throws a toast message or something ?, if YES, please post the text from it here, you can grab it with the help of the Toast Source app, here's the link: https://play.google.com/store/apps/details?id=pl.revanmj.toastsource
...posting a screenshot of it is less useful, also make sure it's in English...

[2022-09-23 11:43] heftig commented on #171
It just says "App isn't installed."

[2022-09-23 13:19] ghoff commented on #171
Toast Source reports exactly "App isn't installed." and that Pixel Launcher generated the toast message. I'm sorry I was misleading about the shortcut.  My comment does very much imply that I was trying to use the shortcut I created under 12.  I deleted the  shortcut created under 12 and re-creating it under Android 13.  The new shortcut generates the error message.

@drogga  thank you for Activit

[2022-09-23 13:49] drogga commented on #171
@heftig, @ghoff Can you please try any other app that can create shortcuts, in order to see if the problem is with A.L. only ?

[2022-09-24 00:04] ghoff commented on #171
I've created quite a few shortcuts and I'm not completely sure but the pattern seems to be that shortcuts created to pre-installed apps don't work but shortcuts to installed apps do work.  Directly launching from A. L. works for both.

[2022-09-24 06:10] drogga commented on #171
@ghoff I asked you to try with any other competitor / alternative "shortcut creator" app, for example go to /sdex/ActivityManager here on GitHub and try the same with his app, /MuntashirAkon/AppManager can create shortcuts too and plenty of so many other app on PlayStore, just pick one and report back how it went...

[2022-09-24 16:14] ghoff commented on #171
Trying to create a shortcut to phone info using an app called shortcut creator also generates an error "Could not open.  The app has been removed."

[2022-09-26 18:04] drogga commented on #171
@ghoff I guess you mean this: https://play.google.com/store/apps/details?id=com.alextern.shortcuthelper
...that app hasn't been updated since more than a year, back then there wasn't even A.12 (probably, didn't checked release dates), so try something that is updated in the last 3-4 months with fixes for A.13, I edited my previous post to make those clickable links, try those 2, if they don't work

[2022-10-06 05:44] jointfull commented on #171
Hi. In the past month and a half, since I upgraded my Android from Android 12 to Android 13, I've been having the **exact same issues** as described by @Grendel66, @ghoff and @heftig.
I too have had a shortcut on my home screen that existed since before my upgrade which worked before the upgrade and have stopped working (toasting "App isn't installed.") after the upgrade.. and of course deleting t

[2022-10-06 05:55] jointfull opened #174 "App icon shifts after choosing "Create shortcut" and "Add to home screen""
When selecting an application from the list (long press or by choosing ⋮), then choosing "Create shortcut", then clicking the "Add to home screen" - make the icon of the app in your Activiry Launcher app appear in a shifted manner;
See below for "Dropbox" and "Easy Voice Recorder" icons;
This of course get reset once your app is killed and restarted.

<img src="https://user-images.githubuserconten

[2022-10-06 08:47] drogga commented on #171
BTW, I don't have access to A.13 in order to test, because I don't have the hardware resources to run it, that being for Android Studio's Emulator or WSA, maybe if there was a VMOS Rom for it, I could try to run it on SGS8+, but there isn't unfortunately, so my hands are tied and the owner or any of the known contributors are MIA.

[2022-10-06 08:54] drogga commented on #174
Looks like an issue with large or adaptive (round) vector images _(if you can even call those "images" at this point, since they are in/as .xml of all the file types, crazy right, since when a XML files is "graphical" ?, like there's no SVG or any of the other hundreds of types...)_.

[2022-10-06 08:59] drogga commented on #174
Looks like an issue with large or adaptive (round) vector images _(if you can even call those "images" at this point, since they are in/as .xml of all the file types, crazy right, since when a XML files is "graphical" ?, like there's no SVG which is "technically" a xml, or any of the other hundreds of types...)_.

[2022-10-07 06:27] jointfull commented on #171
I just tried both, and they both give the same error ("App isn't installed.") after the shortcut has been created.

[2022-10-07 07:20] drogga commented on #171
That sums it up then, the problem is with the OS itself, blame Google, because if the App Manager, which is being actively developed isn't able to create working ones, then nothing can.

[2022-10-07 07:57] butzist commented on #171
You can try the root mode of our app, is nothing else helps

[2022-10-07 08:39] jointfull commented on #171
I tried that too, but it produces the exact same result.

[2022-10-07 09:14] butzist commented on #171
Then it's hopeless 😅

[2022-10-14 08:33] kolf1234 opened #175 "ง"

[2022-10-14 17:33] #175 closed

[2022-10-16 09:15] #146 closed

[2022-10-16 09:16] #155 closed

[2022-10-16 09:17] #172 closed

[2022-10-16 09:19] butzist commented on #51
Hi @cujoXavier,

atm the biggest help would be if someone would review the translations on crowdin and create PRs with updates.

[2022-10-22 21:59] jointfull commented on #171
Well, that's entirely **not true**.
I just installef 3 other shortcut making applications from the store, and they all work flawlessly, while your app still doesn't.

Working alternatives:
- [rk.android.app.shortcutmaker](https://play.google.com/store/apps/details?id=rk.android.app.shortcutmaker)
- [com.alextern.shortcuthelper](https://play.google.com/store/apps/details?id=com.alextern.shortcuthel

[2022-10-22 22:39] jointfull commented on #171
By the way, looking at the Manifest, I would argue that it has to do with the Action, which on you app (and on the 2 alternatives you proposed) is not editable from the UI, and I think you use a default (or missing) one instead of the one really needed for such complex apps (**MAIN** in this case).

I'm attaching the relevant Manifest section for this Activity:

[code]

[2022-10-23 18:08] kmand opened #176 "java.lang.SecurityException"
First time using the app. When I try to add Google Voice Search, I get java.lang.SecurityException. I don't know if its specific to this selection. How do I fix this?

[2022-10-25 08:33] drogga commented on #176
@kmand
What do you mean by "add" ?, on Samsung (A.9 Pie), when I tap on the mic. button from the Samsung KB > it works, please provide LogCat and other device and OS details, also which KB app you used...

[2022-10-29 00:19] homam180 opened #177 "مشكلة أرجو حلها"
فعلت خيار منع الاتصال ولا أستطيع إلغاءه

[2022-10-29 00:19] #177 closed

[2022-10-29 02:45] homam180 opened #178 "Bug"
I click on Blocking Contact and I can not call any phone can you help me to cancel this?

[2022-10-30 15:12] #178 closed

[2022-10-30 15:13] #176 closed

[2022-10-30 16:24] homam180 commented on #178
I hava a problem I can not receive any calls.

في الأحد، 30 أكتوبر 2022, 6:12 م drogga ***@***.***> كتب:

[2022-10-31 17:07] margithu opened #179 "Bug"
Olá, no Android xiaome redimi 11 não funciona quando entra para o [segundo espaço], fica reniciando o celular. Bug bug

[2022-11-01 16:10] drogga commented on #179
Either write in English, or don't at all !
Also, not our problem !

[2022-11-01 16:10] #179 closed

[2022-11-02 04:11] margithu commented on #179
Não sei escrever em inglês!

[2022-11-07 13:31] andersharrison commented on #173
I have a Xiaomi Mi 10 Pro on MIUI 13 and I had this problem, however, it was simply a settings issue.

**To resolve**: Within the "App Info" screen, go to "Other permissions". In there is a specific setting for "Home screen shortcuts". I imagine it'll be similar on most MIUI phones.

![Screenshot_2022-11-07-13-17-21-910-edit_com miui securitycenter sm](https://user-images.githubusercontent.com/657

[2022-11-08 12:06] drogga commented on #173
@iqfareez please check the comment by @andersharrison

[2022-11-08 12:06] #173 closed

[2022-11-11 23:40] jointfull commented on #171
Any update with this issue?

[2022-11-17 20:44] Custnam commented on #171
I've tried all the apps above and other shortcut creators and I always get app not installed. Guess it's 13s fault.

[2022-11-18 12:05] drogga commented on #171
Does stock A.13 (AOSP or Pixel) has \ allows creating settings shortcuts to Apps for example ?, on Samsung I don't have that option since years, in order to be able to create a shortcut for\to any of the Settings, I should use a shortcut creator, like this app and locate the activity for the thing I need, but that still won't be of use, if the activity is with abnormal state, like Private (\unexpo

[2022-11-18 12:07] Custnam commented on #171
All shortcut creators worked up until A13. I read that Google intentionally
stopped it.

Sent from my Samsung Galaxy S22 Ultra

On Fri, Nov 18, 2022, 4:06 AM drogga ***@***.***> wrote:

[2022-11-18 12:25] drogga commented on #171
@Custnam We know, read the other commitments here, Android 13 is garbage, 12 and 12L too, but not so much, 10 is the best (after 7), but 11 isn't bad too, given how worse 12\L\13 are and it will keep getting even worse, in a couple of months there will be A.14, which will be the worse yet (probably), and so on..., let's hope that Apple drops the stupid restrictions of iOS, the main one being the s

[2022-11-19 19:00] docpomus opened #180 "Shortcuts Don't Launch"
On Samsung S22 Ultra
After downloading from Play Store, created home page  shortcut for Settings, "Keyboard List and Default".
When launch, just get message "App isn't installed ".
Same result for all shortcuts created.

[2022-11-20 10:01] drogga commented on #180
A.13 right ?

[2022-11-20 17:52] docpomus commented on #180
Correct

[2022-11-22 07:51] drogga commented on #180
Then you should've checked the other issues before creating a new one, because there's already **Shortcuts broken in Android 13**, which is the same.

[2022-11-22 07:51] #180 closed

[2022-11-26 02:43] danyroldan7 opened #181 "$ bfg --delete-files YOUR-FILE-WITH-SENSITIVE-DATA"

[2022-11-26 14:13] drogga commented on #181
What is this?

[2022-11-26 14:16] #181 closed

[2022-11-26 14:16] butzist commented on #181
Person has been blocked already. Closing.

[2022-11-26 20:52] docpomus commented on #180
Sorry, my first time posting on the forum